/* variable */
.main-menu.style-two ul li ul {
  background-color: #071c34;
}
.main-menu.style-two ul li a {
  color: #ffffff;
}
.main-menu.style-two ul li a:before {
  border: 1px solid #ffffff;
  border-width: 0 1px 1px 0;
}

.comment-respond.style-two {
  position: relative;
  z-index: 1;
  padding: 25px;
}
@media screen and (min-width: 1199px) {
  .comment-respond.style-two {
    padding: 50px;
  }
}

.subscribe-area.style-two {
  background: #ffffff;
  border-bottom: 0;
  padding: 20px 24px 0;
  border-radius: 10px;
}
.subscribe-area.style-two .subscribe-title {
  color: #393d48;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.subscribe-form-widget .single-field.style-two input {
  border: 1px solid #a5aabb;
  border-radius: 10px;
}
.subscribe-form-widget.style-two {
  flex-direction: column;
  gap: 25px;
}

.footer-bottom-menu.style-two ul {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

/* Hero slider CSS */
.read-more {
  display: flex;
  align-items: center;
  gap: 18px;
}
.read-more .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #ff6731;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.read-more .btn-text {
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0;
}

/* Hero slider CSS */
.slider-area .slider-wrapper {
  height: 920px;
}
.slider-area .single-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 920px;
  position: relative;
  z-index: 2;
}
.slider-area .single-slider .slider-overlay {
  background: rgb(0, 91, 172);
  background: linear-gradient(135deg, rgba(0, 91, 172, 0.83) 0%, rgb(30, 174, 152) 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider-area .single-slider .slider-content-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.slider-area .single-slider .slider-content-wrapper .slider-content {
  width: 50%;
}
.slider-area .single-slider .slider-content-wrapper .slider-content .slider-short-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.slider-area .single-slider .slider-content-wrapper .slider-content .slider-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: #ffffff;
  line-height: 102px;
  margin-bottom: 30px;
}
.slider-area .single-slider .slider-content-wrapper .slider-content .slider-short-desc {
  font-size: 24px;
  color: #ffffff;
  line-height: 36px;
}
.slider-area .single-slider .slider-content-wrapper .slider-content .slider-btn-wrapper {
  margin-top: 60px;
}
.slider-area .single-slider .slider-content-wrapper .slider-image {
  position: relative;
  z-index: 2;
  width: 50%;
}
.slider-area .single-slider .slider-content-wrapper .slider-image:before {
  position: absolute;
  content: "";
  width: 640px;
  height: 640px;
  background-color: #ff6731;
  border-radius: 500px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  right: -125px;
}

/* custom slider CSS */
.custom-container {
  overflow: hidden;
  padding-bottom: 10px;
}

.custom-slider-wrapper,
.portfolio-slider {
  margin-top: 50px;
  width: calc(100% + 30px);
  padding: 20px 15px;
  margin-left: -15px;
  position: relative;
}
.custom-slider-wrapper .post-gallery-btn,
.portfolio-slider .post-gallery-btn {
  bottom: 5%;
  top: 95%;
  background: #ffffff !important;
  border: 1px solid #d3d3d3 !important;
}
.custom-slider-wrapper .post-gallery-btn i,
.portfolio-slider .post-gallery-btn i {
  color: #393d48;
}
.custom-slider-wrapper .post-gallery-btn:hover i,
.portfolio-slider .post-gallery-btn:hover i {
  color: #393d48;
}
.custom-slider-wrapper .slick-slide .drop-shadow,
.portfolio-slider .slick-slide .drop-shadow {
  box-shadow: none;
  transition: box-shadow 0.1s ease-in-out;
}
.custom-slider-wrapper .slick-slide.slick-active .drop-shadow,
.portfolio-slider .slick-slide.slick-active .drop-shadow {
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.35);
}
.custom-slider-wrapper .slick-list,
.portfolio-slider .slick-list {
  display: flex;
  overflow: visible;
}
.custom-slider-wrapper .slick-list .slick-track,
.portfolio-slider .slick-list .slick-track {
  display: flex;
  gap: 30px;
}
.custom-slider-wrapper .slick-dots,
.portfolio-slider .slick-dots {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0 110px;
  list-style: none;
  background: white;
  height: 5px;
  margin: 78px 70px 10px 0;
}
.custom-slider-wrapper .slick-dots li,
.portfolio-slider .slick-dots li {
  width: 100%;
  height: 5px;
  border-radius: 10px;
}
.custom-slider-wrapper .slick-dots li button,
.portfolio-slider .slick-dots li button {
  width: 100%;
  height: 5px;
  background: #d2d6e4;
  font-size: 0;
}
.custom-slider-wrapper .slick-dots .slick-active button,
.portfolio-slider .slick-dots .slick-active button {
  background: #4566d4;
  width: 100%;
}
.custom-slider-wrapper.style-two,
.portfolio-slider.style-two {
  width: 100%;
}
.custom-slider-wrapper.style-two .slick-list,
.portfolio-slider.style-two .slick-list {
  overflow: hidden;
}

/* Why choose us CSS(modern tecnology) */
/* About-us CSS */
.about-us {
  background: #ffffff;
  position: relative;
  padding: 100px 0;
}
@media screen and (min-width: 1200px) {
  .about-us {
    padding: 100px 0 248px 0;
  }
}

.image-wrapper {
  position: relative;
}
.image-wrapper .main-img img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .image-wrapper .main-img {
    border-radius: 14px;
  }
}
.image-wrapper .topper-img {
  display: none;
}
.image-wrapper .topper-img .video-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -25px;
  left: -25px;
  background: #4566d4;
  z-index: 2;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.image-wrapper .topper-img .video-btn i {
  font-size: 20px;
  color: #ffffff;
}
.image-wrapper .topper-img .video-btn a {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .image-wrapper .topper-img {
    position: absolute;
    bottom: -60px;
    right: -70px;
    z-index: 1;
    display: block;
  }
}
.image-wrapper.style-two {
  position: relative;
}
.image-wrapper.style-two .main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 562px;
}
@media screen and (min-width: 767px) {
  .image-wrapper.style-two .main-img {
    background: url("/images/about-us-main-2.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}
.image-wrapper.style-two .topper-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrapper.style-two .topper-img img {
  border-radius: 14px;
}
@media screen and (min-width: 767px) {
  .image-wrapper.style-two .topper-img img {
    border-radius: 50%;
  }
}
.image-wrapper.style-two .topper-img .video-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 44%;
  bottom: 50%;
  left: 42%;
  background: #4566d4;
  z-index: 2;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.image-wrapper.style-two .topper-img .video-btn i {
  font-size: 20px;
  color: #ffffff;
}

.list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.list .item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.list .item .icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: rgba(69, 102, 212, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list .item .item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #393d48;
}
.list .about-btn {
  flex-shrink: 0;
}

/* Service CSS */
.counter-wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .counter-wrapper {
    position: absolute;
    left: 0;
    bottom: -148px;
    margin-top: 0;
  }
}
.counter-wrapper.style-two {
  position: relative;
  bottom: 0;
}

.counter-main {
  padding: 40px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.counter-main .counter-item {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 49px 0;
}
.counter-main .counter-item .number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 84px;
  text-align: center;
  color: #393d48;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.counter-main .counter-item .title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #393d48;
}
.counter-main .counter-item:after {
  content: "";
  border-bottom: 1px solid #d2d6e4;
  border-right: none;
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
}
.counter-main .counter-item:after:last-child {
  display: none;
}
.counter-main .counter-item:last-child::after {
  display: none;
}
@media screen and (min-width: 767px) {
  .counter-main .counter-item {
    margin-top: 40px;
    width: 50%;
  }
  .counter-main .counter-item:after {
    border-right: 1px solid #d2d6e4;
    border-bottom: none;
  }
}
@media screen and (min-width: 1200px) {
  .counter-main .counter-item {
    margin-top: 0;
    width: 100%;
  }
  .counter-main .counter-item:after {
    border-right: 1px solid #d2d6e4;
    border-bottom: none;
  }
}
@media screen and (min-width: 767px) {
  .counter-main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .counter-main {
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
  }
}
.counter-main.style-two {
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}

/* Service CSS */
.service-bg {
  display: none;
}
@media screen and (min-width: 1200px) {
  .service-bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    display: block;
  }
}

.section-title {
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .section-title .style-two {
    margin-top: 148px;
  }
}

.card-wrapper {
  margin-top: 25px;
}

/* Process CSS */
.process-sec {
  background: #ffffff;
  padding: 100px 0;
}
.process-sec .main-wrapper {
  margin-top: 50px;
  position: relative;
}
.process-sec .main-wrapper .wave-img-wrapper {
  display: none;
}
@media screen and (min-width: 1200px) {
  .process-sec .main-wrapper .wave-img-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
  }
}
.process-sec .main-wrapper .process-step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.process-sec .main-wrapper .process-step .step-icon {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 2px dashed #f7cf47;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.process-sec .main-wrapper .process-step .step-icon i {
  font-size: 50px;
  z-index: 90;
}
.process-sec .main-wrapper .process-step .step-icon .count {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #4566d4;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process-sec .main-wrapper .process-step .step-icon .count span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.process-sec .main-wrapper .process-step .step-text {
  margin-top: 30px;
  padding: 0;
}
.process-sec .main-wrapper .process-step .step-text .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: #393d48;
}
.process-sec .main-wrapper .process-step .step-text .desc {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #6a6c73;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .process-sec .main-wrapper .process-step .step-text {
    padding: 0 53px;
  }
}
.process-sec .main-wrapper .contact-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.process-sec.style-two {
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.08);
  margin-top: -320px;
  border-radius: 14px;
}
.process-sec.style-two .main-wrapper {
  margin-top: 70px;
  padding: 0 30px;
}

/* Pricing CSS */
.pricing,
.contact-section {
  padding: 100px 0;
  background-image: url("/images/price-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.pricing:after,
.contact-section:after {
  content: "";
  background: rgba(2, 10, 39, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.pricing .section-title .price-sub-title,
.contact-section .section-title .price-sub-title {
  color: #ff6731;
  z-index: 10;
}
.pricing .price-card,
.contact-section .price-card {
  padding: 30px;
  background: white;
  z-index: 2;
  position: relative;
  border-radius: 14px;
}
.pricing .price-card .card-sub-title,
.contact-section .price-card .card-sub-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #393d48;
  margin: 0;
}
.pricing .price-card .card-title,
.contact-section .price-card .card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;
  color: #393d48;
  display: flex;
  align-items: center;
  gap: 2px;
}
.pricing .price-card .card-title label,
.contact-section .price-card .card-title label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 54px;
  color: #393d48;
  text-align: start;
}
.pricing .price-card .card-title span,
.contact-section .price-card .card-title span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-transform: capitalize;
  color: #393d48;
  align-self: end;
}
.pricing .price-card .card-desc,
.contact-section .price-card .card-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-transform: capitalize;
  color: #6a6c73;
  margin-top: 20px;
  margin-bottom: 0;
}
.pricing .price-card .list,
.contact-section .price-card .list {
  margin: 28px 0;
  padding: 30px 0;
  border-top: 2px solid #f3f4f8;
  border-bottom: 2px solid #f3f4f8;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pricing .price-card .list .list-item,
.contact-section .price-card .list .list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.pricing .price-card .list .list-item i,
.contact-section .price-card .list .list-item i {
  color: #04144e;
}
.pricing .price-card .list .list-item .text,
.contact-section .price-card .list .list-item .text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #393d48;
  margin: 0;
}
.pricing .price-card .card-btn,
.contact-section .price-card .card-btn {
  width: 100%;
  text-align: center;
  justify-content: center;
  background: #ecf0fb;
  color: #4566d4;
}
.pricing .professional,
.contact-section .professional {
  background: #ff6731;
}
.pricing .professional .list-border,
.contact-section .professional .list-border {
  border-top: 2px solid rgba(4, 20, 78, 0.1);
  border-bottom: 2px solid rgba(4, 20, 78, 0.1);
}

/* Portfolio CSS */
.portfolio-style-one {
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
}
.portfolio-style-one .image {
  margin: 0;
}
.portfolio-style-one .image img {
  width: 100%;
}
.portfolio-style-one .content-wrapper {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio-style-one .content-wrapper .title-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-style-one .content-wrapper .title-img span {
  font-size: 13px;
  line-height: 23px;
  text-align: right;
  text-transform: uppercase;
  color: #4566d4;
}
.portfolio-style-one .content-wrapper .desc {
  margin-top: 10px;
  margin-bottom: 0;
}
.portfolio-style-one .content-wrapper .read-more {
  margin-top: 20px;
  display: flex;
}
.portfolio-style-one .content-wrapper .read-more :hover {
  margin-left: 10px;
  transition-property: all;
  transition-duration: 0.7s;
}

/* Articles CSS */
.post-card-item {
  background: #ffffff;
  border-radius: 14px;
}
.post-card-item .image {
  position: relative;
}
.post-card-item .image .article-btn {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #ff6731;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #393d48;
}
.post-card-item .content-wrapper {
  padding: 25px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.post-card-item .content-wrapper .post-author-meta {
  display: flex;
  align-items: center;
  gap: 12px;
}
.post-card-item .content-wrapper .post-author-meta h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #393d48;
}
.post-card-item .content-wrapper .post-author-meta p {
  font-size: 14px;
  line-height: 25px;
  text-transform: capitalize;
  color: #4566d4;
  margin: 0 !important;
}
.post-card-item .content-wrapper .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #393d48;
}
.post-card-item .content-wrapper .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #6a6c73;
  margin-bottom: 0;
}
.post-card-item.style-two {
  background: transparent;
  border-radius: 14px 14px 0px 0px;
}
.post-card-item.style-two .image .article-btn {
  top: 20px;
  left: 20px;
  bottom: auto;
  border-radius: 10px;
  font-weight: 500;
  padding: 4px 19px;
}
.post-card-item.style-two img {
  width: 100%;
}
.post-card-item.style-two .content-wrapper {
  margin: 0;
  background: white;
  position: relative;
  z-index: 1;
  border-radius: 14px;
}
.post-card-item.style-two .content-wrapper .post-author-meta {
  margin-bottom: 10px;
}
@media screen and (min-width: 767px) {
  .post-card-item.style-two .content-wrapper {
    margin: -50px 20px 20px 20px;
  }
}

/* Info card-style-one CSS */
/* Testimonial card CSS */
.testimonial-slider {
  position: relative;
}
.testimonial-slider button.testimonial-slider-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 99;
  background-color: #ffffff;
  cursor: pointer;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.testimonial-slider button.testimonial-slider-btn.prev-btn {
  left: 30px;
}
.testimonial-slider button.testimonial-slider-btn.next-btn {
  right: 30px;
}
.testimonial-slider button.testimonial-slider-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #393d48;
  font-size: 17px;
  transition: all 0.5s ease-out;
}
.testimonial-slider button.testimonial-slider-btn:hover {
  transition: all 0.5s ease-out;
}

.single-testmonial {
  display: flex !important;
  justify-content: center;
}

.testmonial-inner {
  width: 856px;
  height: 413px;
  background: #ffffff;
  border-radius: 14px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.testmonial-inner .testmonial-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.testmonial-inner .testmonial-content .testmonial-quote {
  display: flex;
  gap: 4px;
}
.testmonial-inner .testmonial-content .testmonial-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #393d48;
}
.testmonial-inner .testmonial-content .testmonial-desc p {
  margin: 0;
}
.testmonial-inner .user-meta {
  display: flex;
  gap: 15px;
}
.testmonial-inner .user-meta .user-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.testmonial-inner .user-meta .user-info h3 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: #393d48;
}
.testmonial-inner .user-meta .user-info h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-transform: capitalize;
  color: #4566d4;
}

/* client widget CSS */
.client-slider-wrapper .client-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Service-page CSS */
/* Contact-info-card CSS */
.contact-info {
  padding: 25px;
  background: #ffffff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact-info.style-two {
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  flex-direction: row;
}
.contact-info.style-three {
  flex-direction: column;
  background: transparent;
  padding: 65px 0;
  justify-content: space-between;
  border-bottom: 1px solid #424b6a;
  border-radius: 0;
}
@media screen and (min-width: 425px) {
  .contact-info.style-three {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 65px 30px;
  }
}
@media screen and (min-width: 1199px) {
  .contact-info {
    padding: 50px;
  }
}

/* Footer CSS */
.icon-card {
  display: flex;
  background: #2c3236;
  padding: 70px;
}
.icon-card .icon {
  display: flex;
  flex-shrink: 0;
}
.icon-card .content {
  display: flex;
  gap: 34px;
  flex-direction: column;
}
.icon-card .content .title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
  color: #ffffff;
  line-height: 36px;
}
.icon-card .content .desc {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  color: #c7cdda;
  line-height: 30px;
}
.icon-card.style-three {
  flex-direction: row;
  justify-content: space-between;
  gap: 34px;
}
.icon-card.style-three .icon {
  width: 62px;
  height: 62px;
}
.icon-card.style-three .icon img {
  width: 100%;
}

.info-card.style-three {
  padding: 20px 30px 35px 35px;
  background: #ffffff;
  border-radius: 8px;
  margin: 0 60px -60px 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 22px;
  flex-direction: column;
  width: 80%;
}
.info-card.style-three .title-wrapper {
  display: flex;
  justify-content: space-between;
}
.info-card.style-three .title-wrapper .icon {
  display: flex;
  flex-shrink: 0;
}
.info-card.style-three .title-wrapper .title {
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  margin: 0;
}
.info-card.style-three .content {
  display: none;
}
.info-card.style-three .content .desc {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.service-item-wrapper {
  position: relative;
  transition: 5s;
}
.service-item-wrapper .content {
  display: none;
}
.service-item-wrapper:hover .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*# sourceMappingURL=rakib.css.map */
