/* variable */
.nav-bottom {
  background: rgba(4, 20, 78, 0.5) !important;
  backdrop-filter: blur(2px) !important;
  position: absolute;
  z-index: 99999999999;
}

.hero-section {
  position: relative;
  padding-top: 92px;
  padding-bottom: 50px;
  z-index: 0;
}
.hero-section .page-overlay {
  background: rgba(2, 10, 39, 0.5);
}
.hero-section .hero-title {
  padding: 50px 0;
}
.hero-section .hero-title .hero-btn-two {
  border-radius: 5px;
}
@media screen and (min-width: 1199px) {
  .hero-section .hero-title {
    padding: 115px 0;
  }
}
@media screen and (min-width: 1199px) {
  .hero-section {
    padding-bottom: 125px;
  }
}

.info-card-section-two {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
  z-index: 0;
}
@media screen and (min-width: 1199px) {
  .info-card-section-two {
    margin-top: -240px;
    margin-bottom: 100px;
  }
}

.portfolio_slider {
  padding-bottom: 420px;
}

.subscribe-form-widget-two {
  border-radius: 4px !important;
  margin-bottom: 0 !important;
}
.subscribe-form-widget-two .custom-input-two input {
  border-radius: 4px !important;
  padding: 0 20px;
}
.subscribe-form-widget-two .submit-btn-two {
  border-radius: 4px !important;
}

/*Comment Input Filed*/
.page-content .post-comments-form {
  padding-top: 1px;
  margin-bottom: 15px;
  clear: both;
}

.post-comments-title h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #04144e;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.post-comments-title h2 small {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  color: #4770f7;
}

.comment-respond {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 14px;
}
.comment-respond .contacts-email,
.comment-respond .contacts-name,
.comment-respond .single-input-field {
  margin-bottom: 20px;
}
.comment-respond label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  margin-bottom: 12px;
}
.comment-respond .comment-form-cookies-consent {
  display: none;
}
.comment-respond input {
  padding: 0 20px;
  height: 55px;
  width: 100%;
  color: #777777;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif !important;
}
.comment-respond *::-webkit-input-placeholder {
  font-family: "DM Sans", sans-serif !important;
  color: #777777;
}
.comment-respond *:-moz-placeholder {
  font-family: "DM Sans", sans-serif !important;
  color: #777777;
  opacity: 1;
}
.comment-respond *::-moz-placeholder {
  font-family: "DM Sans", sans-serif !important;
  color: #777777;
  opacity: 1;
}
.comment-respond *:-ms-input-placeholder {
  font-family: "DM Sans", sans-serif !important;
  color: #777777;
}
.comment-respond *::-ms-input-placeholder {
  font-family: "DM Sans", sans-serif !important;
  color: #777777;
}
.comment-respond *::placeholder {
  font-family: "DM Sans", sans-serif !important;
  color: #777777;
}
.comment-respond textarea {
  resize: vertical;
  padding: 20px;
  width: 100%;
  color: #777777;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  font-size: 14px;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  height: 130px;
}
.comment-respond .theme-btn {
  display: inline-flex;
  background: #4770f7;
  color: #ffffff;
  padding: 12px 34px;
  text-align: center;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  font-size: 16px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  margin-top: 20px;
}
.comment-respond .theme-btn:hover {
  background: #071c34;
  color: #fff;
  border-color: #071c34;
}
.comment-respond p {
  margin-bottom: 20px;
}
.comment-respond input:focus,
.comment-respond textarea:focus {
  outline: none !important;
  border-color: #4770f7;
  transition: all 0.4s ease 0s;
}

/*# sourceMappingURL=rakib-two.css.map */
