// Pulse Animated
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);
  }
}

// Animate Line Bar
@-webkit-keyframes animatelinebar {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }
}

@keyframes animatelinebar {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }
}

// Slide Up Down

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(40px);
  }

  100% {
    -webkit-transform: translateY(0);
  }

  0% {
    -webkit-transform: translateY(40px);
  }
}


@keyframes slideUpIn {
  0% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(40px);
  }
}

// Animated Top Bottom
@-webkit-keyframes MoveLeftRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}
@keyframes MoveLeftRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}

// Animated Left Right
@-webkit-keyframes MoveUpDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}
@keyframes MoveUpDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}

// Animated Left Right
@-webkit-keyframes Animated3 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes Animated3 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
// Animated Left Right
@-webkit-keyframes Animated4 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}
@keyframes Animated4 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10px); }
}