$primary-color: #005bac;
$secondary-color: #393d48;
$orange-color: #ff6731;
$sky-color: #1eae98;
$text-color: #5e6f92;
$white: #ffffff;
$white-50: #bfc5cb;
$white-100: #c7cdda;
$black: #020a27;
$black-100: #424b6a;
$gray: #31373f;
$gray-100: #f3f4f8;
$gray-200: #f5f5f5;
$gray-300: #e1e6eb;

$body-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;
