/* variable */
@import "variables";
@import "_mixin.scss";

// global-overwrite
@import "modules/global-overwrite";

$text-primary: #4566d4;
$text-gray-light: #6a6c73;

// .mt-8 {
//   margin-top: 8px;
// }
// .mt-12 {
//   margin-top: 12px;
// }
// .mt-25 {
//   margin-top: 25px;
// }
// .pb-180 {
//   padding-bottom: 180px;
// }
// .background-deep-blue {
//   background: $black;
// }

// .background-light-blue {
//   background: #ecf0fb;
// }

// .background-ocean {
//   background: #eceffb !important;
// }
// .background-orange {
//   background: $orange-color;
// }

// .home-btn-two {
//   border-radius: 4px;
//   color: white !important;
// }

// /* Read-more button CSS */
// .read-more {
//   margin-top: 20px;
//   display: flex;
//   :hover {
//     i {
//       margin-left: 17px;
//       transition-property: all;
//       transition-duration: 0.7s;
//     }
//   }
//   a {
//     font-family: $body-font;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 22px;
//     text-align: center;
//     text-transform: capitalize;
//     color: $secondary-color;
//     margin-right: 12px;
//     i {
//       font-size: 17px;
//       margin-left: 12px;
//     }
//   }
// }
/* Hero slider CSS */
//@import "modules/title-section";

$desc-text-gray: #c7cdda;
// read more-btn
.read-more {
  a {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0;
    color: $secondary-color;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background: #ff6731;
      color: $white;
      i {
        color: $white;
        font-size: 16px;
      }
    }
    &:hover {
      margin-left: 5px;
    }
  }
  &.style-two {
    a {
      .icon {
        background: linear-gradient(65deg, rgb(227, 0, 8) 0%, rgb(250, 174, 0) 100%);
        padding: 1px;
        i {
          background: $white;
          color: $primary-color;
          border-radius: 50px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

// custom btn
.custom-read-btn {
  padding: 8px 8px 8px 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  .icon {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: $white;
    }
  }
}

/* Hero slider CSS */
@import "modules/slider-style-one";
/* custom slider CSS */
@import "modules/custom-slider";

/* Why choose us CSS(modern tecnology) */
@import "modules/why-choose-us";

/* About-us CSS */
@import "modules/about-us";

/* Service CSS */
@import "modules/counter";

/* Service CSS */
@import "modules/service";

/* Process CSS */
@import "modules/process";

/* Pricing CSS */
@import "modules/pricing";

/* Portfolio CSS */
@import "modules/portfolio";

/* Articles CSS */
@import "modules/articles";

/* Info card-style-one CSS */
// @import "modules/info-card-one";

/* Testimonial card CSS */
@import "modules/testimonial-card-one";

/* client widget CSS */
@import "modules/client-widget";

/* Service-page CSS */
@import "modules/service-page";

/* Contact-info-card CSS */
@import "modules/contact-info";

/* Footer CSS */
@import "partials/footer-two";

// icon-card
@import "modules/icon-card";

// info-card
@import "modules/info-card-two";

// price-card
@import "modules/price-card";

// Testimonial-card
@import "modules/testimonial-card-two";

// Testimonial-card
@import "modules/process-step";

.prices-card-wrapper {
  background: #4566d4;
}
.testimonial-cards {
  background: #eef5f8;
  padding: 50px;
}
