/* variable */
@import "variables";
@import "_mixin.scss";

// global-overwrite
@import "modules/global-overwrite";

$text-primary: #4566d4;
$text-gray-light: #6a6c73;

/* Hero slider CSS */
//@import "modules/title-section";

$desc-text-gray: #c7cdda;

/* Hero slider CSS */
@import "modules/slider-style-one";
/* custom slider CSS */
@import "modules/custom-slider";

/* Why choose us CSS(modern tecnology) */
@import "modules/why-choose-us";

/* About-us CSS */
@import "modules/about-us";

/* Service CSS */
@import "modules/counter";

/* Service CSS */
@import "modules/service";

/* Process CSS */
@import "modules/process";

/* Pricing CSS */
@import "modules/pricing";

/* Portfolio CSS */
@import "modules/portfolio";

/* Articles CSS */
@import "modules/articles";

/* Info card-style-one CSS */
// @import "modules/info-card-one";

/* Testimonial card CSS */
@import "modules/testimonial-card-one";

/* client widget CSS */
@import "modules/client-widget";

/* Service-page CSS */
@import "modules/service-page";

/* Contact-info-card CSS */
@import "modules/contact-info";

/* Footer CSS */
@import "partials/footer-two";

// icon-card
@import "modules/icon-card";

// icon-card
@import "modules/icon-card-three";

// info-card
@import "modules/info-card";

// info-card style-two
@import "modules/info-card-two";

// info-card style-three
@import "modules/info-card-three";

// price-card
@import "modules/price-card";

// Testimonial-card
@import "modules/testimonial-card-two";

// Process-card
@import "modules/process-step";

// Post-card
@import "modules/post-card-two";

.common-card-wrapper {
  background: #4566d4;
  padding: 100px 50px;
}
.testimonial-cards {
  background: #eef5f8;
  padding: 50px 0;
}
