/**
 * Stylesheet:  style.css
 * Theme:       Transco - Transport and Logistic HTML5 Template
 * Version:     1.0
 * Author:     	BoomDevs
 * 
 */
/* Table of contents
=========================
1.Preloader
2.Scrollup
3. Nav Menu CSS
4. Banner Section CSS
5.About Section
6.Why Choose Us Section 
7.Service Version 
8.Title Section
9.Service Another Section
10.Count Up Section 
11.Contact Page
12.Call To Action Section
13.Team section
14.Testimonial CSS
15.Page Breadcrumb Section
16.Blog Section
17.Sidebar
18.Pricing Section
19.About Us Section
Footer Section 

===========================*/
/* Theme Default CSS */
@import "variables";
@import "custom_font";
@import "mixin";
@import "partials/theme-default";
@import "partials/default-spacing";
@import "unittest";
@import "keyframes";

/* 1.Preloader */
@import "modules/preeloader";

/* 2.Scrollup */
@import "partials/scrollup";
/* 3.Nav Menu CSS */
@import "partials/header";
@import "partials/header-two";
@import "partials/header-three";
@import "modules/meanmenu";
/* 8.Slider Section */
@import "modules/slider-style-one";
@import "modules/slider-style-two";
@import "modules/slider-style-three";
@import "modules/info-card";
@import "modules/info-card-two";
@import "modules/info-card-three";
@import "modules/info-card-four";
@import "modules/info-card-slider-controls";
@import "modules/icon-card";
@import "modules/icon-card-two";
@import "modules/icon-card-three";
@import "modules/about-image-card";
@import "modules/about-image-card-two";
@import "modules/about-image-card-three";
@import "modules/about-info-card";
@import "modules/about-info-card-two";
@import "modules/about-info-card-three";
@import "modules/promotional-banner";
@import "modules/promotional-banner-style-two";
@import "modules/video-popup-card";
@import "modules/counter-card";
@import "modules/counter-card-two";
@import "modules/process-step";
@import "modules/process-step-two";
@import "modules/testimonial-card";
@import "modules/testimonial-card-two";
@import "modules/testimonial-card-three";
@import "modules/testimonial-slider-controls";
@import "modules/accordion";
@import "modules/accordion-style-two";
@import "modules/accordion-style-three";
@import "modules/client-logo";
@import "modules/post-card-two";
@import "modules/skill-progress";
@import "modules/price-card";
@import "modules/call-to-action-card";
@import "modules/triangle-shape-card";

/* 8.Title Section */
@import "modules/title-section";

/* 15.Page Breadcrumb Section */
@import "modules/breadcrumb";

/* 16.Blog Section */
@import "modules/post-card";
@import "modules/post-card-four";
@import "modules/post-card-one";
@import "modules/paginations";

/* 17.Sidebar */
@import "partials/sidebar";
@import "modules/comment-list";
@import "modules/comment-form";
/* Footer Section */
@import "partials/footer";
@import "partials/footer-two";

/* Team Member */
@import "modules/team-member";
@import "modules/portfolio-two";

@import "pages/pages";
