.post-card {
    &.style-four {
        flex-direction: column;
        border: none;
        padding: 0;
        gap: 25px;
        margin-bottom: 45px;

        @include rmaxwd(991) {
            gap: 22px;
        }
        &:hover {
            .image {
                &:before {
                    height: 250%;
                    transition: all 900ms linear;
                    background-color: transparent;
                }
                img {
                    transform: scale(1.05);
                }
            }
        }
        .image {
            position: relative;

            &:before {
                position: absolute;
                width: 200%;
                height: 0%;
                left: 50%;
                top: 50%;
                background-color: rgba(255, 255, 255, 0.3);
                transform: translate(-50%, -50%) rotate(-45deg);
                content: "";
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                @include transition;
            }
        }
        .content {
            .title {
                a {
                    font-size: 24px;
                    line-height: 33px;
                }
                &:hover {
                    color: $primary-color;
                }
            }
            .post-meta {
                span {
                    color: $orange-color;
                    line-height: 30px;
                    font-weight: 700;
                    &:last-child {
                        display: block;
                    }
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                }
                .date {
                    color: $black-300;
                    font-weight: 400;
                }
            }
        }
        @include sm {
            gap: 20px;
        }
    }
}
