.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px;
  border: 1px solid rgb(223, 226, 233);
  border-radius: 12px;
  gap: 40px;
  margin-bottom: 25px;

  .image {
    overflow: hidden;
    border-radius: 6px;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background: $secondary-color;
    opacity: 24%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .post-meta {
      display: inline-flex;
      gap: 17px;
      align-items: center;

      span {
        color: $text-color;
        font-size: 16px;
        line-height: 28px;
        font-weight: 700;
        margin: 0;

        &:before {
          background-color: #b8bfcc;
          width: 1px;
          display: inline-flex;
          height: 12px;
          content: "";
          margin-right: 17px;
        }

        &:first-child {
          color: $orange-color;
          &:before {
            display: none;
          }
        }
      }
    }
    .title {
      font-size: 21px;
      line-height: 28px;
      font-weight: 700;
      font-family: $heading-font;
      margin: 0;
      color: $secondary-color;
    }
  }
  .date {
    margin-bottom: 0;
  }
  .date-bottom {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0;
    color: #778196;
  }
  @include lg {
    padding: 20px 25px;
    gap: 55px;
    .content {
      .post-meta {
        font-size: 14px;
      }
      .title {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}
