.slider-area {
  &.style-three {
    position: relative;

    .slider-wrapper {
      @include rmaxwd(991) {
        height: 700px;
      }
    }

    .single-slider {
      .slider-overlay {
        opacity: 0.659;
        background: rgb(0,91,172);
        background: linear-gradient( 135deg, rgb(30,174,152) 0%, rgb(0,91,172) 100%);
      }
      .slider-content-wrapper {
        gap: 100px;

        .slider-content {
          width: 100%;
          text-align: center;

          @include rmaxwd(991) {
            margin-top: -200px;
          }
        }
      }
    }
    // Slick Nav Arrow Button
    button.slider-arrow-btn {
      display: block !important;
    }
    .slider-wrapper {
      // Slick Dots
      .slick-dots {
        display: none !important;
      }
    }

  }
}