.slider-area {
  &.style-two {
    position: relative;

    .social-share {
      @include rmaxwd(991) {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-bottom: 290px solid $primary-color;
      border-left: 117px solid transparent;
      z-index: 1;

      @include sm {
        display: none;
      }
    }
    .single-slider {
      @include sm {
        height: 500px;
      }
    }
    .slider-wrapper {
      .container {
        position: relative;
      }
      .slider-shape-top-triangle {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $sky-color;
        top: 0;
        left: -100%;
        margin-left: -220px;
        transform: skewX(-20deg);
      }
      .slider-shape-bottom-left {
        position: absolute;
        width: 215px;
        height: 130px;
        background: $sky-color;
        bottom: 0;
        left: -140px;
        transform: skewX(-22deg);
      }
      .slider-image {
        position: relative;
        z-index: 2;
        float: right;
        margin-top: inherit;
        animation: MoveLeftRight 2s linear infinite alternate;
        &:before {
          position: absolute;
          content: "";
          width: 520px;
          height: 2000px;
          background-color: $orange-color;
          border-radius: 0;
          top: -1000px;
          transform: skewX(-20deg);
          z-index: -1;
          right: -125px;
        }
      }
    }

  }
}