.info-card {
    &.style-three {
        position: relative;
        padding: 0;
        margin-bottom: 100px;

        &:hover {
            .image-wrapper {
                img {
                    transform: scale(1.1);
                }
            }
            .content-wrapper {
                .content-area {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.6s;

                    .content {
                        margin-top: 20px;
                    }
                }
            }
        }
        .image-wrapper {
            position: relative;
            opacity: 1;
            border-radius: 12px;
            overflow: hidden;
            img {
                @include transition;
            }
        }
        .content-wrapper {
            margin-bottom: -48px;
            padding: 0 60px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            .content-inner {
                padding: 20px 30px 20px 35px;
                background: $white;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
            }
            .title-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                padding-bottom: 0;
                .icon {
                    display: flex;
                    flex-shrink: 0;
                    width: 60px;
                    height: 60px;

                    @include rmaxwd(991) {
                        width: 40px;
                        height: 40px;
                    }

                }
                .title {
                    font-size: 30px;
                    line-height: 42px;
                    font-weight: 700;
                    margin: 0;

                    @include rmaxwd(991) {
                        font-size: 28px;
                        line-height: 32px;
                    }
                }
            }
            .content-area {
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                @include transition;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: -200px;
                @include transition;
                .desc {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    margin: 0;
                }
            }
            @include sm {
                padding: 0 10px;
                .content-inner {
                    padding: 20px;
                }
            }
            @include md {
                padding: 0 10px;
                .content-inner {
                    padding: 20px;
                }
                .title-wrapper {
                    gap: 20px;
                    .title {
                        font-size: 26px;
                        line-height: 36px;
                    }
                    .icon {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            @include lg {
                padding: 0 20px;
                .content-inner {
                    padding: 20px;
                }
                .title-wrapper {
                    gap: 20px;
                    .title {
                        font-size: 26px;
                        line-height: 36px;
                    }
                    .icon {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
