.footer {
  position: relative;

  //footer shape
  .footer-shape {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.footer-widget-title {
  font-family: $heading-font;
  font-size: 24px;
  line-height: 28px;
  color: $white;
  position: relative;
  margin-bottom: 26px;
}
.footer-widget {
  ul {
    padding-left: 0;
  }
  // Footer Info Widget
  .footer-widget-info {
    p {
      color: $white-100;
      padding-right: 68px;
      margin-bottom: 30px;
    }
    .footer-logo {
      margin-bottom: 35px;
      display: inline-block;
    }
  }

  // Footer Menu Widget
  .footer-widget-menu {
    ul {
      margin-top: -5px;
      padding-left: 0;
    }

    li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;

      &:last-child {
        padding-top: 0px;
      }

      a {
        color: $white-100;
        text-transform: capitalize;
        font-size: 16px;
        @include transition;
        position: relative;

        &:hover {
          @include transition;
          color: $primary-color;

        }
      }
    }
  }

  // Footer Contact Widget
  .footer-widget-contact {
    p {
      color: $white-100;
    }
    .footer-contact ul {
      list-style: none;

      li {
        margin-bottom: 16px;
        display: flex;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }
        .contact-icon {
          color: $white;
          border-radius: 50px;
          float: left;
          display: flex;
          align-items: center;
          margin-right: 10px;
          flex-shrink: 0;

        }
        .contact-text {
          color: $white-100;
          font-size: 16px;
          overflow: hidden;

          span {
            color: $white-100;
            font-size: 16px;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }

  // Footer Latest News
  .widget_latest_post {
    ul {
      li {
        .latest-post-thumb {
          img {
            width: 60px;
            height: 60px;
          }
        }
        .latest-post-desc {
          .latest-post-title {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            font-weight: 600;

            a {
              font-size: 16px;
              line-height: 19px;
              color: $white;
              position: relative;
              text-transform: capitalize;
              font-weight: 600;
              @include transition;

              &:hover {
                color: $primary-color;
                @include transition;
              }
            }
          }
          .latest-post-meta {
            font-size: 14px;
            display: flex;
            align-items: center;
            font-weight: 400;
            gap: 8px;
            color: $white-100;
          }
        }
      }
    }
  }
}

// Footer Bottom Section
.footer-bottom-menu {
  ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;

    li {
      a {
        font-size: 16px;
        text-transform: capitalize;
        color: $white-100;
        @include transition;

        &:hover {
          @include transition;
          color: $primary-color;
        }
      }
    }
  }
}

.footer-bottom-area {
  .copyright-text {
    p {
      color: $white-100;
      margin-bottom: 0;
    }
  }
  .credit-text {
    p {
      color: $white-100;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    a {
      color: $primary-color;
    }
  }
}

// Footer Subscribe
.subscribe-area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .subscribe-title {
    color: $white;
    text-transform: capitalize;
  }
}
.subscribe-form-widget {
  display: flex;
  background-color: $white;
  border-radius: 50px;
  padding: 4px;

  .single-field {
    flex-grow: 1;
    input {
      color: $white-100;
      height: 52px;
      padding: 0 30px;
      font-size: 16px;
      border-radius: 50px;
      width: 100%;
    }
    *::-webkit-input-placeholder {
      color: $white-100;
    }
    *:-moz-placeholder {
      color: $white-100;
      opacity: 1;
    }
    *::-moz-placeholder {
      color: $white-100;
      opacity: 1;
    }
    *:-ms-input-placeholder {
      color: $white-100;
    }
    *::-ms-input-placeholder {
      color: $white-100;
    }
    *::placeholder {
      color: $white-100;
    }
  }
  .submit-btn {
    background-color: $primary-color;
    color: $white;
    cursor: pointer;
    padding: 0 35px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    gap: 9px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
}

// Social Widget
.social-widget {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    color: $white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;

    &:hover {
      @include transition;
      color: $primary-color;
    }
  }
}
