.footer {
  position: relative;
  z-index: 2;
  padding-top: 250px;

  //footer Background
  .footer-bg {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}
.footer-widget-title {
  font-family: $heading-font;
  font-size: 24px;
  line-height: 28px;
  color: $white;
  position: relative;
  margin-bottom: 26px;
}
.footer-widget {
  ul {
    padding-left: 0;
  }
  // Footer Info Widget
  .footer-widget-info {
    p {
      color: $white-100;
      padding-right: 68px;
      margin-bottom: 30px;
    }
    .footer-logo {
      margin-bottom: 35px;
      display: inline-block;
    }

    .social-widget {
      gap: 20px;
      margin-top: 30px;
    }
  }

  // Footer Menu Widget
  .footer-widget-menu {
    ul {
      margin-top: -5px;
      padding-left: 0;
    }

    li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;

      &:last-child {
        padding-top: 0px;
      }

      a {
        color: $white-100;
        text-transform: capitalize;
        font-size: 16px;
        @include transition;
        position: relative;

        &:hover {
          @include transition;
          color: $primary-color;

        }
      }
    }
  }

  // Footer Contact Widget
  .footer-widget-contact {
    p {
      color: $white-100;
    }
    .footer-contact ul {
      list-style: none;

      li {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        line-height: 24px;
        gap: 20px;

        &:first-child {
          align-items: flex-start;
          .contact-icon {
            margin-top: 5px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        .contact-icon {
          color: $white;
          border-radius: 50px;
          float: left;
          display: flex;
          align-items: center;
          flex-shrink: 0;

        }
        .contact-text {
          color: $white-100;
          font-size: 18px;
          overflow: hidden;

          span {
            color: $white-100;
            font-size: 18px;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }

  }

  // Footer Latest News
  .widget_latest_post {
    ul {
      li {
        .latest-post-thumb {
          img {
            width: 60px;
            height: 60px;
          }
        }
        .latest-post-desc {
          .latest-post-title {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 22px;
            color: $white;
            font-weight: 700;

            a {
              font-size: 16px;
              line-height: 22px;
              color: $white;
              position: relative;
              text-transform: capitalize;
              font-weight: 700;
              @include transition;

              &:hover {
                color: $primary-color;
                @include transition;
              }
            }
          }
          .latest-post-meta {
            font-size: 14px;
            display: flex;
            align-items: center;
            font-weight: 400;
            gap: 8px;
            color: $white-100;
          }
        }
      }
    }
  }

}

// Footer Bottom Section
.footer-bottom-menu {
  ul {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;

    li {
      a {
        font-size: 16px;
        text-transform: capitalize;
        color: $white-100;
        @include transition;

        &:hover {
          @include transition;
          color: $primary-color;
        }
      }
    }
  }
}

.footer-bottom-area {
  padding-top: 100px;
  padding-bottom: 60px;

  .copyright-text {
    p {
      color: $white-100;
      margin-bottom: 0;

      a {
        color: $white;
        font-weight: 700;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .credit-text {
    p {
      color: $white-100;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    a {
      color: $primary-color;
    }
  }
}

// Footer Subscribe
.footer-subscribe-area {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-50%);
}
.subscribe-area {
  background-color: $orange-color;
  border-radius: 18px;
  padding: 70px;
  z-index: 2;
  position: relative;
  overflow: hidden;

  .triangle-shape {
    width: 250px;
    height: 250px;
    background-color: $primary-color;
    border-radius: 18px;
    position: absolute;
    right: -60px;
    bottom: -20px;
    transform: rotate(20deg);
    z-index: -1;
  }
  .shape-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  .content-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .short-title {
      font-size: 21px;
      font-weight: 700;
      color: $white;
      margin-bottom: 0;
    }
    .subscribe-title {
      color: $white;
      text-transform: capitalize;
      margin-bottom: 0;
    }
    .text {
      font-size: 22px;
      color: $white;
      margin-bottom: 0;
    }
  }

  .subscribe-inner-area {
    display: flex;
    align-items: center;
    gap: 30px;

    .content-wrapper,
    .subscribe-form-wrapper {
      width: 50%;
    }
  }
}
.subscribe-form-widget {
  display: flex;
  background-color: $white;
  border-radius: 12px;
  overflow: hidden;

  .single-field {
    flex-grow: 1;

    input {
      color: $black-300;
      height: 72px;
      padding: 0 30px;
      font-size: 18px;
      border-radius: 50px;
      width: 100%;
    }
    *::-webkit-input-placeholder {
      color: $black-300;
    }
    *:-moz-placeholder {
      color: $black-300;
      opacity: 1;
    }
    *::-moz-placeholder {
      color: $black-300;
      opacity: 1;
    }
    *:-ms-input-placeholder {
      color: $black-300;
    }
    *::-ms-input-placeholder {
      color: $black-300;
    }
    *::placeholder {
      color: $black-300;
    }
  }
  .submit-btn {
    background-color: $white;
    color: $orange-color;
    background: -webkit-linear-gradient(#e30008, #faae00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    padding: 0 35px;
    display: flex;
    align-items: center;
    gap: 9px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;

  }
}

// Social Widget
.social-widget {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    color: $white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;

    &:hover {
      @include transition;
      color: $primary-color;
    }
  }
}
