.footer {
  &.style-three {
    .footer-sec {
      padding-top: 130px;

      @include sm {
        padding-top: 70px;
      }

      .footer-widget {
        &.widget_nav_menu {
          ul {
            columns: 2;
            column-gap: 26px;
          }
        }
      }
    }
  }
}

