.header-area {
  &.style-two {

    // Header Top Area
    .header-top {
      .header-top-btn {
        a {
          margin-bottom: inherit;
          padding: 6px 46px;
          &:hover {
            &:before {
              @include transition;
              transform: skewX(-0deg);
              background-color: $sky-color;
            }
          }
          &:before {
            border-radius: 0;
            transform: skewX(-20deg);
            @include transition;
          }
        }
      }
    }

    // Header Menu Area
    .header-menu-area {
      .logo {
        &:before {
          border-radius: 0;
          transform: skewX(-20deg);
          bottom: 0;
          height: 190px;
        }
      }
    }
  }
}