.header-top {
  background-color: $primary-color;

  .header-top-info {
    display: flex;
  }
  .header-contact-info {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 6px 0;
    
    span {
      display: flex;
      align-items: center;
      gap: 20px;


      &:first-child {
        &:before {
          display: none;
        }
      }
      &:before {
        background-color: $white;
        width: 1px;
        display: inline-flex;
        height: 12px;
        content: "";
      }

      i {
        color: $white;
      }

      a {
        display: flex;
        align-items: center;
        gap: 13px;
        color: $white;
        font-size: 15px;
        font-weight: 500;
        font-family: $body-font;

        i {
          color: $white;
        }
      }
    }
  }
  .header-top-btn {
    a {
      background-color: $orange-color;
      padding: 11px 46px;
      font-size: 18px;
      font-family: $heading-font;
      color: $white;
      margin-bottom: -100px;
      display: inline-block;
      border-radius: 0 0 10px 10px;
      margin-left: 30px;
    }
  }
  .header-social {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px 0;
    justify-content: flex-end;

    a {
      font-size: 14px;
      color: #cbcbcb;
      transition: 0.3s;
    }
  }
}

// Start Header Nav
.header-sec {
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease 0s;
  background-color: $white;

  &.sticky-header {
    width: 100%;
    z-index: 999;
    transition: all 0.4s ease 0s;
  }

  &.sticky_menu {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.03);
    background: #fff;
  }
}



.logo {
  position: relative;
  z-index: 2;
  height: 120px;
  display: flex;
  align-items: center;

  &:before {
    position: absolute;
    content: "";
    width: 350px;
    height: 240px;
    left: 0;
    top: -50px;
    @include gradient-color-red;
    border-radius: 15px;
    z-index: -1;
    transform: rotate(25deg);
  }

  .standard-logo {
  }

  .retina-logo {
    display: none;

    img {
      width: 134px;
    }
  }
}

.main-menu {
  ul {
    margin: 0;
    padding: 0;
    position: relative;
    li {
      display: inline-block;
      padding: 0;
      position: relative;

      &.active {
        position: relative;
        > a {
          color: $orange-color;

          //&:before {
          //  border-color: $orange-color;
          //}
          &:after {
            position: absolute;
            content: "";
            height: 3px;
            width: 18px;
            background-color: $orange-color;
            bottom: 40px;
            left: 15px;
          }
        }
      }
      &.dropdown {
        > a {
          //padding-right: 30px;

          //&:before {
          //  visibility: visible;
          //}
        }
        .dropdown {
          > a {
            //&:before {
            //  visibility: visible;
            //  right: 15px;
            //  transform: rotate(-45deg);
            //}
          }
        }
      }

      ul {
        &.submenu {
          li {
            &.active {
              > a {
                position: relative;
                z-index: 2;
                color: $white;

                //&:before {
                //  border-color: $white;
                //}
                &:after {
                  height: 100%;
                  top: 0;
                  left: 0;
                  border-radius: 0;
                  z-index: -1;
                }
              }
            }
          }
        }
      }
      a {
        display: block;
        padding: 46px 20px;
        text-decoration: none;
        text-transform: capitalize;
        @include transition;
        position: relative;
        color: $secondary-color;
        font-family: $heading-font;
        font-size: 16px;
        font-weight: 700;

        //&:before {
        //  position: absolute;
        //  content: "";
        //  transform: rotate(45deg);
        //  border: solid $secondary-color;
        //  border-width: 0 1px 1px 0;
        //  display: inline-block;
        //  padding: 3px;
        //  margin-top: -5px;
        //  top: 50%;
        //  right: 15px;
        //  visibility: hidden;
        //}
        &:hover {
          color: $orange-color;

          //&:before {
          //  border-color: $orange-color;
          //}
        }
      }
      &:hover {
        > ul {
          visibility: visible;
          transition: all 0.4s ease 0s;
          opacity: 1;
          top: 100px;
        }
      }
      ul {
        li {
          &:hover {
            ul {
              visibility: visible;
              top: -2px;

              ul {
                ul {
                  left: 0;
                  top: 40px;
                }
              }
            }
          }
        }
      }
    }
    ul {
      background-color: $white;
      left: 0;
      opacity: 0;
      position: absolute;
      text-align: left;
      top: 120px;
      visibility: hidden;
      z-index: 99999;
      transition: all 0.3s ease 0s;
      border-top: 2px solid $orange-color;
      box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);

      li {
        float: none;
        width: 210px;

        ul {
          visibility: hidden;
        }
        i {
          float: right;
        }

        a {
          line-height: 120%;
          padding: 10px 20px;
          color: $text-color;
          border-bottom: 1px solid $gray-200;
          margin-left: 0;
          &:hover {
            background-color: $orange-color;
            color: $white;

            //&:before {
            //  border-color: $white;
            //}
          }
        }
        &:last-child a {
          border-bottom: 0px;
        }
      }
      ul {
        left: 100%;
        transition: all 0.3s ease 0s;
        opacity: 0;
        border-top: 0px;
        border-top: 2px solid $orange-color;
      }
    }
  }
}

.animation {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideUpIn {
  -webkit-animation-name: slideUpIn;
  animation-name: slideUpIn;
}


// Header Button Area
.header-btn {
  margin-left: 35px;
  display: flex;
  align-items: center;
  gap: 20px;

  .icon-wrapper {
    border: 1px solid $sky-color;
    border-radius: 50px;
    padding: 4px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      @include gradient-color-red;
      flex-shrink: 0;
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
      width: 100%;
    }
    .text {
      font-family: $heading-font;
      font-size: 18px;
      font-weight: 700;
      color: $secondary-color;
    }
  }

  @media only screen and (max-width: 1199px) {
    display: none;
  }
}
