.widget {
    background-color: $white;
    border-radius: 14px;
    margin-bottom: 50px;
}
.widget_service_categories {
    ul {
        list-style: none;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 12px;
        li {
            background: #ebf4f8;
            padding: 22px 24px;
            border-radius: 8px;
            a {
                display: inline-flex;
                align-items: center;
                gap: 16px;
                flex-shrink: 0;
                color: $secondary-color;
                font-family: $body-font;
                font-size: 18px;
                line-height: 60px;
                font-weight: 700;
                i {
                    color: $sky-color;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            &.active {
                background: $orange-color;
                a {
                    color: $white;
                    i {
                        color: $white;
                    }
                }
            }
            &:hover {
                background: $orange-color;
                a {
                    color: $white;
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}
.widget_service_promotion {
    padding: 44px 40px;
    text-align: center;
    background-color: $black;
    .widget-subtitle {
        p {
            color: $orange-color;
            font-family: $body-font;
            font-size: 16px;
            line-height: 60px;
            font-weight: 700;
            margin: 0;
        }
    }
    .promotion-card {
        display: flex;
        flex-direction: column;
        gap: 50px;
        h4 {
            color: $white;
            font-family: $body-font;
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            margin: 0;
        }
        .secondary-btn {
            display: flex;
            align-items: center;
            gap: 18px;
            .icon {
                width: 48px;
                height: 48px;
                border-radius: 50px;
                background: $sky-color;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                i {
                    color: $white;
                }
            }
            .btn-text {
                display: flex;
                flex-direction: column;
                justify-content: start;
                p {
                    margin: 0;
                    text-align: start;
                    color: $white;
                    font-family: $body-font;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 400;
                }
                h4 {
                    margin: 0;
                    text-align: start;
                    color: $white;
                    font-family: $heading-font;
                    font-size: 21px;
                    line-height: 30px;
                    font-weight: 700;
                }
            }
        }
    }
}
