* {
  margin: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: $body-font;
  color: $text-color;
  vertical-align: baseline;
  line-height: 30px;
}
p {
  margin: 0 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $heading-font;
  color: $secondary-color;
  font-style: normal;
  @include transition;
}

h1 {
  font-size: 120px;
  line-height: 132px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}
h4 {
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
}
h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}
h6 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
label {
  color: $text-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
button {
  cursor: pointer;
  @include transition;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a,
.button {
  text-decoration: none;
  @include transition;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  color: $sky-color;
  text-decoration: none;
  @include transition;
}
a,
button {
  color: $sky-color;
  outline: medium none;
  @include transition;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: $primary-color;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: $primary-color;
  text-shadow: none;
  color: #fff;
}
textarea:focus,
input:focus {
  outline: none;
}

.background-black {
  background-color: $secondary-color;
}
.background-blue {
  background-color: $blue-color;
}
.background-light-blue {
  background-color: $primary-color;
}
.background-skye {
  background-color: $sky-color;
}
.background-gray {
  background-color: $gray-50;
}
.page-bg {
  background-color: $black;
}

.page-area {
  padding-top: 100px;
  padding-bottom: 85px;
}
.theme-btn,
.wp-block-loginout a {
  display: inline-flex;
  @include gradient-color-red;
  color: #fff;
  padding: 11px 10px 11px 36px;
  text-align: center;
  font-weight: 700;
  font-family: $heading-font;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  @include transition;
  font-size: 18px;
  align-items: center;
  gap: 36px;
  border-radius: 6px;

  @include sm {
    padding: 5px 6px 5px 26px;
    gap: 30px;
    font-size: 16px;
  }

  i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 6px;
    background-color: $primary-color;
    color: #fff;
    font-size: 16px;
  }
  &:hover {
    background: #071c34;
    color: #fff;
    border-color: #071c34;
  }
}

.border-radius-12 {
  border-radius: 12px;
}
.text-white-100 {
  color: $white-100;
}