// About Us Area
.about-page-about-us-area {
  padding-top: 140px;
  padding-bottom: 144px;

  @include rmaxwd(991) {
   padding: 100px 0;
  }
  .about-info-card {
    .about-info-content {
      padding-left: 120px;

      @include rmaxwd(1199) {
        padding-left: 0;
        padding-top: 330px;
      }
      @include rmaxwd(767) {
        padding-top: 100px;
      }
    }
  }
}
// Counter Area
.about-page-counter-area {
  padding: 133px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
}

// FAQ Area
.about-page-faq-area {
  padding: 102px 0;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

  .video-popup-card.style-three {
    margin-left: 160px;

    @include rmaxwd(1199) {
      margin-left: 0;
      margin-top: 80px;
    }
  }
}

// Timeline Area
.about-page-timeline-area {
  background-color: #f3f8fc;
  padding-top: 169px;
  padding-bottom: 129px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
}

// Testimonial Area
.about-page-testimonial-area {
  background-color: #f3f7fc;
  padding-top: 140px;
  padding-bottom: 142px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
}

// Client Logo
.about-page-client-logo-area {
  padding-top: 130px;
  padding-bottom: 151px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
}
// Team Member Area
.about-page-team-member-area {
  padding-top: 137px;
  padding-bottom: 129px;
}