// Counter Area
.about-page-counter-area {
  padding: 145px 0;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

// FAQ Area
.about-page-faq-area {
  padding: 145px 0;
}