// About Us Area
.about-page-about-us-area {
  padding-top: 140px;
  padding-bottom: 154px;

  @include rmaxwd(991) {
   padding: 100px 0;
  }
  @include rmaxwd(767) {
   padding: 70px 0;
  }
  .about-info-card {
    .about-info-content {
      padding-left: 120px;

      @include rmaxwd(1199) {
        padding-left: 0;
        padding-top: 330px;
      }
      @include rmaxwd(767) {
        padding-top: 150px;
      }
      @include rmaxwd(650) {
        padding-top: 110px;
      }
    }
  }
}
// Counter Area
.about-page-counter-area {
  padding-top: 134px;
  padding-bottom: 138px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  @include rmaxwd(767) {
    padding: 70px 0;
  }
}

// FAQ Area
.about-page-faq-area {
  padding: 140px 0;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  @include rmaxwd(767) {
    padding: 70px 0;
  }
  .section-title {
    @include rmaxwd(575) {
      margin-bottom: 20px;
    }
  }
  .video-popup-card.style-three {
    margin-left: 220px;

    @include rmaxwd(1199) {
      margin-left: 0;
      margin-top: 80px;
    }
  }
}

// Timeline Area
.about-page-timeline-area {
  background-color: #f3f8fc;
  padding-top: 140px;
  padding-bottom: 144px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  @include rmaxwd(767) {
    padding: 70px 0;
  }
}

// Testimonial Area
.about-page-testimonial-area {
  background-color: #f3f7fc;
  padding-top: 140px;
  padding-bottom: 124px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  @include rmaxwd(767) {
    padding: 70px 0;
  }
  .testimonial-slider-wrapper {
    margin-top: -40px;
    margin-bottom: -40px;
  }
}

// Client Logo
.about-page-client-logo-area {
  padding-top: 140px;
  padding-bottom: 135px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  @include rmaxwd(767) {
    padding: 70px 0;
  }
}
// Team Member Area
.about-page-team-member-area {
  padding-top: 140px;
  padding-bottom: 143px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  @include rmaxwd(767) {
    padding: 70px 0;
  }
}