// contact-page
.contact-title {
    text-align: center;
    h2 {
        font-size: 38px;
        color: $secondary-color;
        margin-bottom: 0;
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            font-size: 48px;
        }
    }
}
