// Why Choose Area
.why-us-area {
  margin-top: -65px;
  position: relative;
  z-index: 2;

  .why-us-area-inner {
    background-color: $black-50;
    border-radius: 8px;
    overflow: hidden;
  }
}

// Why Choose Us Area
.home-three-why-choose-us {
  padding-top: 142px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include rmaxwd(1199) {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .why-choose-card-wrapper {
    padding-left: 110px;

    @include rmaxwd(991) {
      padding-left: 0;
    }
  }
}
// About Us Area
.home-three-about-us-area {
  padding-top: 135px;
  padding-bottom: 144px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
}
// Why Choose Area Three
.why-choose-three-area {
  background-color: $secondary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
// Project Area & Blog Area
.home-three-project-area {
  padding-top: 136px;
  padding-bottom: 135px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
.home-three-blog-post-area {
  padding-top: 142px;
  padding-bottom: 81px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
// Pricing Area
.home-three-pricing-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 140px;
  padding-bottom: 145px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
.price-card-padding {
  padding: 0 50px;

  @include rmaxwd(1399) {
    padding: 0 12px;
  }
}
// Our Service Area
.home-three-our-service-area {
  padding-top: 137px;
  padding-bottom: 88px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 50px;
    .section-title {
      margin-bottom: 15px;
    }
  }

}

// Accordion Area
.home-three-accordion-area {
  padding-top: 212px;
  padding-bottom: 145px;

  @include rmaxwd(1199) {
    padding: 100px 0;
  }

  .accordion-wrapper {
    @include rmaxwd(1199) {
      padding-right: 0 !important;
      padding-bottom: 80px;
    }
  }
}

.home-three-testimonial-area{
  padding-top: 144px;
  padding-bottom: 128px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

  .accordion-wrapper {
    @include rmaxwd(1199) {
      padding-right: 0 !important;
      padding-bottom: 80px;
    }
  }
}


