// Video Popup Area
.video-popup-area {
  margin-bottom: -250px;
}

// Counter Up Area
.counter-area {
  padding-top: 390px;
  padding-bottom: 145px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $primary-color;
}

// Why Choose Us Area
.why-choose-us-area {
  margin-top: -74px;

  .why-choose-us-wrapper {
    background-color: $white;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 0 90px rgba(245, 246, 249, 0.8);
  }
}

// Service Area
.service-area {
  padding-top: 144px;
  padding-bottom: 120px;

  .section-title {
    margin-bottom: 70px;
  }
}

// Process Step Area
.process-step-area {
  background-color: $black-200;
  padding-top: 144px;
}
.process-image {
  margin-bottom: -70px;
  position: relative;
  text-align: center;
  z-index: 99;
}
// Testimonial Area
.testimonial-area {
  padding-top: 144px;
  padding-bottom: 140px;
}
// Appoitment Area
.appointment-area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 144px 0;
  position: relative;
  z-index: 2;
}
.blue-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 56, 105, 0.8);
  left: 0;
  top: 0;
  z-index: -1;
}

// Client Logo Area
.client-logo-area {
  background-color: $sky-color;
  padding: 100px 0;
}
// News Area
.news-area {
  padding-top: 144px;
  padding-bottom: 270px;

  .section-title {
    margin-bottom: 70px;
  }
}