// Video Popup Area
.video-popup-area {
  margin-bottom: -250px;
}

// Counter Up Area
.counter-area {
  padding-top: 390px;
  padding-bottom: 145px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $primary-color;
}

// Why Choose Us Area
.why-choose-us-area {
  margin-top: -74px;

  .why-choose-us-wrapper {
    background-color: $white;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 0 90px rgba(245, 246, 249, 0.8);
  }
}