// About Us Area
.home-one-about-us-area {
  padding: 145px 0;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  .about-info-card {
    .about-info-content {
      padding-left: 110px;

      @include rmaxwd(1199) {
        padding-left: 0;
        padding-top: 200px;
      }
      @include rmaxwd(650) {
        padding-top: 100px;
      }
    }
  }
}
// Video Popup Area
.video-popup-area {
  margin-bottom: -237px;

  @include rmaxwd(991) {
    margin-bottom: 0;
    padding-bottom: 100px;
  }
}

// Counter Up Area
.counter-area {
  padding-top: 380px;
  padding-bottom: 132px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $primary-color;
  z-index: -1;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

}
.counter-squre-shape {
  width: 245px;
  height: 245px;
  border-radius: 18px;
  background: linear-gradient( -45deg, rgb(227,0,8) 0%, rgb(250,174,0) 100%);
  transform: rotate(-124deg);
  right: -135px;
  bottom: -110px;
  position: absolute;
}

// Why Choose Us Area
.why-choose-us-area {
  margin-top: -74px;

  @include rmaxwd(1199) {
    margin-top: 0;
    padding-top: 100px;
  }


  .why-choose-us-wrapper {
    background-color: $white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 5px 90px 0px rgba(2, 24, 93, 0.08);

    @include sm {
      box-shadow: none;
    }
    @include md {
      box-shadow: none;
    }
  }
}

// Service Area
.home-one-service-area {
  padding-top: 144px;
  padding-bottom: 125px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 76px;
  }
  .section-title {
    margin-bottom: 60px;
  }
}

// Process Step Area
.home-one-process-step-area {
  background-color: $black-200;
  padding-top: 145px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 76px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding-bottom: 67px;
  }

  .section-title {
    margin-bottom: 95px;
  }
}
.process-image {
  margin-bottom: -70px;
  position: relative;
  text-align: center;
  z-index: 99;
  animation: MoveLeftRight 2s linear infinite alternate;
}

// Appoitment Area
.home-one-appointment-area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 132px 0;
  position: relative;
  z-index: 2;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  .accordion-wrapper {
    padding-left: 120px;

    @include rmaxwd(1399) {
      padding-left: 0;
      margin-top: 50px;
    }
  }
}
.appointment-squre-shape {
  width: 200px;
  height: 200px;
  border-radius: 18px;
  @include gradient-color-red;
  transform: rotate(27deg);
  left: -36px;
  top: -90px;
  position: absolute;
}
.blue-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 56, 105, 0.8);
  left: 0;
  top: 0;
  z-index: -1;
}

// Client Logo Area
.home-one-client-logo-area {
  padding-top: 100px;
  padding-bottom: 86px;
}
// News Area
.home-one-news-area {
  padding-top: 145px;
  padding-bottom: 113px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

  .section-title {
    margin-bottom: 70px;
  }
}

// Testimonial Area
.home-one-testimonial-area {
  padding: 132px 0;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

  .testimonial-slider-wrapper {
    padding-left: 94px;

    @include md {
      padding-left: 0;
    }
    @include sm {
      padding-left: 0;
    }
  }
}