// Why Choose Area
.why-us-area {
  margin-top: -65px;
  position: relative;
  z-index: 2;


  .why-us-area-inner {
    background-color: $black-50;
    border-radius: 8px;
    overflow: hidden;
  }
}

// Why Choose Us Area
.home-three-why-choose-us {
  padding-top: 123px;

  @include rmaxwd(1199) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .why-choose-card-wrapper {
    padding-left: 110px;

    @include rmaxwd(991) {
      padding-left: 0;
    }
  }
}
// About Us Area
.home-three-about-us-area {
  padding-top: 125px;
  padding-bottom: 144px;
}
// Why Choose Area Three
.why-choose-three-area {
  background-color: $secondary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
// Project Area & Blog Area
.home-three-project-area {
  padding-top: 136px;
  padding-bottom: 130px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
.home-three-blog-post-area {
  padding-top: 136px;
  padding-bottom: 93px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
// Pricing Area
.home-three-pricing-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 132px;
  padding-bottom: 144px;
}
// Our Service Area
.home-three-our-service-area {
  padding-top: 130px;
  padding-bottom: 88px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

// Accordion Area
.home-three-accordion-area {
  padding-top: 212px;
  padding-bottom: 144px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

  .accordion-wrapper {
    @include rmaxwd(1199) {
      padding-right: 0 !important;
      padding-bottom: 80px;
    }
  }
}

.home-three-testimonial-area{
  padding-top: 144px;
  padding-bottom: 128px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

  .accordion-wrapper {
    @include rmaxwd(1199) {
      padding-right: 0 !important;
      padding-bottom: 80px;
    }
  }
}


