// Why Choose Area
.why-us-area {
  margin-top: -65px;
  position: relative;
  z-index: 2;


  .why-us-area-inner {
    background-color: $black-50;
    border-radius: 8px;
    overflow: hidden;
  }
}

// Why Choose Area Three
.why-choose-three-area {
  background-color: $secondary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
// Project Area & Blog Area
.home-three-project-area,
.home-three-blog-post-area {
  padding-top: 145px;
  padding-bottom: 120px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
// Pricing Area
.pricing-area {
  background-color: $blue-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
// Our Service Area
.home-three-our-service-area {
  padding-top: 145px;
  padding-bottom: 105px;

  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

// Accordion Area
.home-three-accordion-area,
.home-three-testimonial-area{
  padding: 145px 0;

  @include rmaxwd(991) {
    padding: 100px 0;
  }

.accordion-wrapper {
  @include rmaxwd(1199) {
    padding-right: 0 !important;
    padding-bottom: 80px;
  }
}
}


