// Counter Area Two
.home-two-counter-area {
  position: relative;
  padding-top: 154px;
  padding-bottom: 134px;
  overflow: hidden;

  @include md {
    background-color: $primary-color;
    margin: 100px 0;
    padding: 100px 0;
  }
  @include sm {
    padding: 70px 0;
  }

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $orange-color;
    top: 0;
    right: -75%;
    transform: skewX(-22deg);

    @include md {
      display: none;
    }
  }

  .counter-area-two-inner {
    padding: 145px 0;
    position: relative;
    background-color: $primary-color;
    border-radius: 0 18px 18px 0;

    @include md {
      background-color: transparent;
      padding: 100px 0;
    }
    @include sm {
      padding: 70px 0;
    }

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      top: 0;
      left: -100%;
    }
  }
}

// Process Step Two Area
.home-two-process-step-two-area {
  padding-top: 380px;
  padding-bottom: 64px;

  @include sm {
    padding-top: 340px;
    padding-bottom: 10px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1199px){
    padding-bottom: 40px;
  }

}
.triangle-shape-top {
  position: absolute;
  left: 0;
  top: -80px;
  border-top: 350px solid $sky-color;
  border-right: 140px solid transparent;
  z-index: 1;

  @include sm {
    display: none;
  }
}
.triangle-shape-bottom {
  position: absolute;
  //right: -580px;
  right: 0;
  bottom: -115px;
  border-bottom: 240px solid $orange-color;
  border-left: 100px solid transparent;
  border-right: 0 solid transparent;
  width: 170px;
  animation: MoveUpDown 2s linear infinite alternate;

  @include md {
    bottom: -100px;
    border-bottom: 135px solid #ff6731;
    width: 170px;
  }
  @include sm {
    bottom: -100px;
    border-bottom: 135px solid #ff6731;
    width: 170px;
  }
}
.triangle-border-shape {
  position: absolute;
  width: 230px;
  height: 400px;
  top: 85px;
  left: -150px;
  border-top: 1px solid $orange-color;
  border-right: 1px solid $orange-color;
  transform: skewX(-22deg);

  @include sm {
    display: none;
  }
}

// Appointment Booking Area
.appointment-booking-area {
  margin-bottom: -261px;
  position: relative;
  z-index: 2;

  @include md() {
    margin-top: 80px;
  }
  @include sm() {
    margin-top: 70px;
  }
  .form-image-mr {
    padding-right: 56px !important;
  }
  .form-image-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}

// Accordion Area
.home-two-accordion-area {
  padding-top: 140px;
  padding-bottom: 157px;
  z-index: 2;

  @include md() {
    padding: 100px 0;
  }
  @include sm {
    padding: 70px 0;

    .promotional-banner-widget {
      margin-top: 0;
    }
  }
  .accordion-wrapper {
    padding-left: 120px;

    @include rmaxwd(991) {
      padding-left: 0;
      padding-bottom: 80px;
    }
  }
}
.triangle-image-shape-wrapper {
  position: absolute;
  width: 830px;
  top: -155px;
  left: 0;
  z-index: -1;

  @include rmaxwd(991) {
    display: none;
  }
}
.triangle-image-shape {
  -webkit-clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
}
.triangle-image-shape-border {
  position: absolute;
  top: -30px;
  left: 0;
  animation: MoveUpDown 2s linear infinite alternate;
}

// Client Logo Area
.home-two-client-logo-area {
  padding-top: 100px;
  padding-bottom: 120px;

  @include sm {
    padding: 70px 0;
  }
}
// Testimonial Area
.home-two-testimonial-area {
  padding-top: 145px;

  @include md {
    padding: 0;
  }
  @include sm {
    padding: 0;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px){
    padding-top: 0;
    padding-bottom: 100px;
  }
  .section-title {
    @include sm {
      margin-bottom: 0;
    }
  }
}
// Testimonial Triangle Image
.testimonial-triangle-image-wrapper {
  width: 916px;
  position: absolute;
  top: 0;
  left: 0;

  @media only screen and (min-width: 1200px) and (max-width: 1399px){
    width: 620px;
  }
  @include sm {
    margin-bottom: 70px !important;
  }
  @include rmaxwd(1199) {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
  }
}
.testimonial-triangle-image {
  -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);

  @include md {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  @include sm {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.testimonial-triangle-shape {
  position: absolute;
  right: 154px;
  bottom: 70px;
  width: 190px;
  height: 190px;
  background-color: $sky-color;
  transform: skewX(-22deg);

  @include md {
    display: none;
  }
  @include sm {
    display: none;
  }
}

// About Us Area
.home-two-about-us-area {
  padding-top: 140px;

  @include md() {
    padding-top: 100px;
  }
  @include sm() {
    padding-top: 70px;
  }
  .about-info-card {
    .about-info-content {
      padding-left: 120px;

      @include rmaxwd(1199) {
        padding-left: 0;
        padding-top: 300px;
      }
      @media only screen and (min-width: 651px) and (max-width: 767px){
        padding-top: 150px;
      }
      @include rmaxwd(651) {
        padding-top: 100px;
      }

    }
  }
}

// Form Image Wrapper
.form-image-wrapper {

  @include rmaxwd(991) {
    height: 350px;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
}

// News Area
.home-two-news-area {
  padding-top: 80px;
  padding-bottom: 107px;

  @include md() {
    padding: 100px 0;
  }
  @include sm() {
    padding-top: 70px;
    padding-bottom: 50px;
  }


  .section-title {
    margin-bottom: 70px;

    @include rmaxwd(991) {
      margin-bottom: 50px;
    }
  }
  .home-two-post-card-padding {
    padding-left: 68px;

    @include rmaxwd(1199) {
      padding-left: 12px;
    }
  }
}

// Team Member Area
.home-two-team-member-area {
 padding: 139px 0;

  @include md() {
    padding: 100px 0;
  }
  @include sm() {
    padding: 70px 0;
  }
}

// Project Area
.home-two-project-area {
  padding-bottom: 143px;

  @include rmaxwd(767) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

// Why Choose Us Area
.home-two-why-choose-area {
  padding-top: 150px;
  padding-bottom: 100px;

  @include md() {
    padding-top: 100px;
  }
  @include sm() {
    padding-top: 70px;
    padding-bottom: 34px;
  }


  .section-title {
    padding-right: 100px;
    @include rmaxwd(1399) {
      padding-right: 12px;
    }
    @include rmaxwd(991) {
      margin-bottom: 70px;
    }
  }
  .icon-card-left-padding {
    padding-left: 134px;

    @include rmaxwd(1399) {
      padding-left: 12px;
    }
  }
}