// Counter Area Two
.counter-area-two {
  position: relative;
  padding: 140px 0;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $orange-color;
    top: 0;
    right: -75%;
    transform: skewX(-20deg);
  }

  .counter-area-two-inner {
    padding: 140px 0;
    position: relative;
    background-color: $primary-color;
    border-radius: 0 18px 18px 0;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      top: 0;
      left: -100%;
    }
  }
}

// Process Step Two Area
.process-step-two-area {
  padding-top: 395px;
  padding-bottom: 145px;
}
.triangle-shape-top {
  position: absolute;
  left: 0;
  top: -80px;
  border-top: 350px solid $sky-color;
  border-right: 140px solid transparent;
  z-index: 1;
}
.triangle-shape-bottom {
  position: absolute;
  //right: -580px;
  right: 0;
  bottom: -115px;
  //width: 750px;
  //height: 230px;
  //background-color: $orange-color;
  //z-index: 1;
  //transform: skewX(-22deg);
  //
  border-bottom: 240px solid $orange-color;
  border-left: 100px solid transparent;
  border-right: 0 solid transparent;
  width: 170px;
}
.triangle-border-shape {
  position: absolute;
  width: 230px;
  height: 400px;
  top: 85px;
  left: -150px;
  border-top: 1px solid $orange-color;
  border-right: 1px solid $orange-color;
  transform: skewX(-22deg);
}

// Appointment Booking Area
.appointment-booking-area {
  margin-bottom: -270px;
  position: relative;
  z-index: 2;
}

// Accordion Area
.accordion-area {
  z-index: 2;
}
.triangle-image-shape-wrapper {
  position: absolute;
  width: 760px;
  top: -140px;
  left: 0;
  z-index: -1;
}
.triangle-image-shape {
  -webkit-clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
}
.triangle-image-shape-border {
  position: absolute;
  top: -30px;
  left: 0;
}


// Client Logo Area
.triangle-shape {
  position: absolute;
  left: 0;
  bottom: -50%;
  transform: translateY(50%);
  z-index: 99;
  border-top: 408px solid $secondary-color;
  border-right: 165px solid transparent;
}

// Testimonial Triangle Image
.testimonial-triangle-image {
  width: 760px;
}