// Counter Area Two
.counter-area-two {
  position: relative;
  padding: 140px 0;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $orange-color;
    top: 0;
    right: -75%;
    transform: skewX(-20deg);
  }

  .counter-area-two-inner {
    padding: 140px 0;
    position: relative;
    background-color: $primary-color;
    border-radius: 0 18px 18px 0;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      top: 0;
      left: -100%;
    }
  }
}