.about-image-card {
  &.style-three {
    .main-img-wrapper {
      text-align: center;

      @include sm {
       margin-top: 80px;
      }
      .main-img-inner {
        @include sm {
          width: 100%;
        }

        img {
          @include sm {
            width: 100%;
          }
        }
      }

    }
    .img-card-wrapper {
      top: 0;
      transform: translate(-50%, 50%);

      @include sm {
        transform: translate(50%, 50%);
      }
      .image-six {
        width: 190px;
        height: 190px;
        border-radius: 8px;
        z-index: -1;
        background-color: $blue-color;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
      }
      .image-seven {
        width: 190px;
        height: 190px;
        border-radius: 8px;
        z-index: -1;
        background-color: $sky-color;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
      }
    }
  }
}