.about-image-card {
  &.style-two {
    .main-img-wrapper {
      text-align: left;

      @include md {
        text-align: center;
      }
    }
    .img-card-wrapper {
      &.image-three {
        width: 170px;
        height: 170px;
        border-radius: 12px;
        @include gradient-color-red;
        top: unset;
        bottom: 0;
        left: -66px;
        transform: translateY(50%);
      }
      &.image-four {
        width: 459px;
        height: 343px;
        border-radius: 0;
        z-index: -1;
        left: -160px;
        bottom: -170px;
      }
      &.image-five {
        top: 160px;
        right: -200px;
        border-radius: 12px;
        overflow: hidden;
      }
    }
  }
}