.about-image-card {
  .main-img-wrapper {
    text-align: right;

    .main-img-inner {
      position: relative;
      display: inline-block;

      > img {
        border-radius: 6px;
      }
    }
  }
  .img-card-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;

    .year,
    .title {
      font-size: 18px;
      color: $white;
      font-weight: 700;
      text-align: center;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
    }
    .year {
      font-size: 72px;
    }
    .title {
      font-size: 18px;
    }

    &.image-one {
      top: 55px;
      right: -40px;
      border-radius: 6px;
      width: 96px;
      height: 96px;
      background-color: $primary-color;
      animation: MoveUpDown 2s linear infinite alternate;
    }
    &.image-two {
      bottom: -60px;
      right: 50px;
      border-radius: 6px;
      width: 120px;
      height: 120px;
      background-color: $orange-color;
      animation: MoveLeftRight 2s linear infinite alternate;
    }
    &.image-three {
      top: 50%;
      transform: translateY(-50%);
      left: -140px;
      border-radius: 10px;
      width: 180px;
      height: 180px;
      z-index: 2;
      background: rgb(0, 91, 172);
      background: linear-gradient(135deg, rgba(0, 91, 172, 1) 0%, rgba(30, 174, 152, 1) 100%);
      animation: MoveUpDown 2s linear infinite alternate;
    }
    &.image-four {
      bottom: -100px;
      left: -220px;
      border-radius: 10px;
      width: 335px;
      height: 330px;
      overflow: hidden;
      animation: MoveLeftRight 2s linear infinite alternate;
    }
  }
}
