.about-image-card {
  &.style-two {
    .main-img-wrapper {
      text-align: left;

      @include lg {
        text-align: center;
      }
      @include md {
        text-align: center;
      }
    }
    .img-card-wrapper {


      &.image-three {
        width: 168px;
        height: 170px;
        border-radius: 12px;
        @include gradient-color-red;
        top: unset;
        bottom: 0;
        left: -59px;
        transform: translateY(50%);

        @media only screen and (min-width: 1200px) and (max-width: 1399px){
          left: 50px;
        }
        @include sm {
          left: 66px;
        }
      }
      &.image-four {
        width: 459px;
        height: 343px;
        border-radius: 0;
        z-index: -1;
        left: -160px;
        bottom: -170px;
        @include sm {
          left: -50px;
          bottom: -50px;
        }
        @include md {
          left: -130px;
        }
      }
      &.image-five {
        top: 163px;
        right: -224px;
        border-radius: 12px;
        overflow: hidden;

        @media only screen and (min-width: 1200px) and (max-width: 1399px){
          right: -130px;
        }
        @include sm {
          right: 30px;
          width: 200px;
          bottom: -30px;
          top: unset;
        }

        @include md {
          right: -130px;
        }
      }
    }
  }
}