.about-info-card {
    &.style-three {
      .section-title {
        margin-bottom: 40px;
      }
      .about-info-wrapper {
        display: flex;

        .about-info-img {
          border-radius: 12px;
          overflow: hidden;
          flex-shrink: 0;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
      .about-info-content {
        padding-left: 50px;
        gap: 30px;

        .icon-card-wrapper {
          display: flex;
          justify-content: space-between;

          .icon-card {
            width: 50%;
            padding: 0;
            gap: 20px;
            flex-direction: column;
            margin-bottom: 0;

            .icon {
              width: 40px;
              height: 40px;
            }
            .content {
              gap: 4px;

              .title {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
}