.client-logo-wrapper {
    &.style-two {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 60px 30px;

        .client-logo {
            cursor: pointer;
            overflow: hidden;
            img {
                filter: grayscale(100%);
                opacity: 0.65;
                @include transition;
            }
            &:hover {
                img {
                    filter: none;
                    opacity: 1;
                }
            }
        }
    }
}
