/*Comment Input Filed*/
.page-content {
  .post-comments-form {
    padding-top: 1px;
    margin-bottom: 15px;
    clear: both;
  }
}
.post-comments-title {
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    small {
      font-size: 16px;
      font-family: $body-font;
      color: $primary-color;
    }
  }
}
.comment-respond {
  background-color: $white;
  padding: 30px;
  border-radius: 14px;

  .contacts-email,
  .contacts-name,
  .single-input-field {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 12px;
  }
  .comment-form-cookies-consent {
    display: none;
  }
  input {
    padding: 0 20px;
    height: 55px;
    width: 100%;
    color: $text-color;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: $white;
    font-family: $body-font !important;
  }
  *::-webkit-input-placeholder {
    font-family: $body-font !important;
    color: $text-color;
  }
  *:-moz-placeholder {
    font-family: $body-font !important;
    color: $text-color;
    opacity: 1;
  }
  *::-moz-placeholder {
    font-family: $body-font !important;
    color: $text-color;
    opacity: 1;
  }
  *:-ms-input-placeholder {
    font-family: $body-font !important;
    color: $text-color;
  }
  *::-ms-input-placeholder {
    font-family: $body-font !important;
    color: $text-color;
  }
  *::placeholder {
    font-family: $body-font !important;
    color: $text-color;
  }
  textarea {
    resize: vertical;
    padding: 20px;
    width: 100%;
    color: $text-color;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    font-size: 14px;
    background-color: $white;
    font-family: $body-font;
    font-weight: 400;
    height: 130px;
  }

  .theme-btn {
    display: inline-flex;
    background: $primary-color;
    color: $white;
    padding: 12px 34px;
    text-align: center;
    font-weight: 500;
    font-family: $body-font;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    font-size: 16px;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    margin-top: 20px;

    &:hover {
      background: #071c34;
      color: #fff;
      border-color: #071c34;
    }
  }

  p {
    margin-bottom: 20px;
  }

  input:focus,
  textarea:focus {
    outline: none !important;
    border-color: $primary-color;
    transition: all 0.4s ease 0s;
  }
}
