.contact-info {
  padding: 25px;
  background: $white;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  &.style-two {
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    flex-direction: row;
  }
  &.style-three {
    flex-direction: column;
    background: transparent;
    padding: 65px 0;
    justify-content: space-between;
    border-bottom: 1px solid $black-100;
    border-radius: 0;
    @media screen and (min-width: "425px") {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 65px 30px;
    }
  }
  @media screen and (min-width: "1199px") {
    padding: 50px;
  }
}
