.counter-card {
    &.style-three {
        flex-direction: column;
        gap: 30px;

        .counter-item {
            text-align: left;
            padding: 60px 40px;
            background: $primary-color;
            border-radius: 8px;

            .counter-title {
                flex-direction: row;
                gap: 30px;
                .title {
                    margin: 0;
                    color: $white;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 700;
                }
            }
            .number {
                margin: 0;
                color: $white;
                font-size: 60px;
                line-height: 60px;
                font-weight: 700;
            }
        }
    }
}
