.counter-wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
  @media screen and (min-width: "1200px") {
    position: absolute;
    left: 0;
    bottom: -148px;
    margin-top: 0;
  }
  &.style-two {
    position: relative;
    bottom: 0;
  }
}
.counter-main {
  padding: 40px;
  background: $white;
  border-radius: 14px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  .counter-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 49px 0;
    .number {
      font-family: $body-font;
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 84px;
      text-align: center;
      color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
    .title {
      margin: 0;
      font-family: $body-font;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: $secondary-color;
    }
    &:after {
      content: "";
      border-bottom: 1px solid $gray;
      border-right: none;
      position: absolute;
      height: 100%;
      bottom: 0;
      width: 100%;
      &:last-child {
        display: none;
      }
    }
    &:last-child::after {
      display: none;
    }
    @media screen and (min-width: "767px") {
      margin-top: 40px;
      width: 50%;
      &:after {
        border-right: 1px solid $gray;
        border-bottom: none;
      }
    }
    @media screen and (min-width: "1200px") {
      margin-top: 0;
      width: 100%;
      &:after {
        border-right: 1px solid $gray;
        border-bottom: none;
      }
    }
  }
  @media screen and (min-width: "767px") {
    flex-direction: row;
    // width: 0%;
    flex-wrap: wrap;
  }
  @media screen and (min-width: "1200px") {
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
  }
  &.style-two {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
  }
}
