.counter-card {
  &.style-two {
    .counter-item {
      text-align: left;

      .counter-title {
        flex-direction: row;
        gap: 30px;
      }
      .number {
        font-size: 90px;
      }
    }
  }
}