.counter-card {
  z-index: 1;
  position: relative;
  display: flex;
  gap: 60px;

  .counter-item {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;

    .number {
      font-family: $heading-font;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      color: $orange-color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
    .title {
      margin: 0;
      font-family: $heading-font;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $white;
    }
    .text {
      margin: 0;
      color: $white-100;
    }
  }
}