.counter-card {
  &.style-two {
    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    .counter-item {
      text-align: left;

      @include md {
        text-align: center;
      }


      .counter-title {
        flex-direction: row;
        gap: 30px;

        @include md {
          flex-direction: column;
        }
      }
      .number {
        font-size: 90px;

        @include md {
          font-size: 48px;
          line-height: 50px;
        }
      }
    }
  }
}