.icon-card {
    display: flex;
    background: $white;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 50px;

    .icon {
        width: 78px;
        height: 78px;
        display: flex;
        flex-shrink: 0;
        img {
            width: 100%;
        }
    }
    .content {
        display: flex;
        gap: 32px;
        flex-direction: column;
        .title {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            color: $secondary-color;
            margin-bottom: 0;
        }
        .desc {
            font-family: $body-font;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            color: $text-color;
            margin-bottom: 0;
        }
    }
    @include sm {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .content {
            gap: 15px;
        }
    }
}
