.icon-card {
    &.style-two {
        background: transparent;
        flex-direction: row;
        justify-content: space-between;
        gap: 34px;
        padding: 70px;
        position: relative;
        margin-bottom: 0;

        .divider {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-right: 1px solid #464b4e;
            border-bottom: 1px solid #464b4e;
        }
        .icon {
            width: 62px;
            height: 62px;
            img {
                width: 100%;
            }
        }
        .content {
            gap: 34px;
            .title {
                color: $white;
            }
            .desc {
                color: $white-100;
            }
        }
    }
}
