.icon-card {
    &.style-two {
        background: #2c3236;
        flex-direction: row;
        justify-content: space-between;
        gap: 34px;
        .icon {
            width: 62px;
            height: 62px;
            img {
                width: 100%;
            }
        }
        .content {
            gap: 34px;
            .title {
                color: $white;
            }
            .desc {
                color: $white-100;
            }
        }
    }
}
