.icon-card {
    &.style-three {
        display: flex;
        background: transparent;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 50px;

        .icon {
            width: 78px;
            height: 78px;
            display: flex;
            flex-shrink: 0;
            img {
                width: 100%;
            }
        }
        .content {
            display: flex;
            gap: 34px;
            flex-direction: column;
            .title {
                color: $white;
            }
            .desc {
                color: $white-100;
            }
        }
        @include sm {
            gap: 25px;
            .content {
                gap: 18px;
                align-items: center;
                text-align: center;
            }
        }
    }
}
