.info-card {
    &.style-two {
        padding: 46px;
        position: relative;
        border: 1px solid $primary-color;
        &:hover {
            border: 1px solid transparent;
            overflow: hidden;
            .image-wrapper {
                opacity: 0.7;
            }
            .title-wrapper {
                border-bottom: 3px solid $white;
                .title {
                    color: $white;
                }
            }
            .content {
                .desc {
                    color: $white;
                }
            }
            .read-more {
                a {
                    color: $white;
                }
            }
        }
        .title-wrapper {
            flex-direction: row;
            border-bottom: 3px solid #1eae98;
            align-items: center;
            .icon {
                width: 97px;
                height: 97px;
                background: linear-gradient(65deg, rgb(227, 0, 8) 0%, rgb(250, 174, 0) 100%);
            }
            .title {
                line-height: 36px;
            }
        }
        .content {
            margin-top: 38px;
            gap: 37px;
            .desc {
                line-height: 26px;
            }
        }
    }
}
