.info-card {
    &.style-two {
        padding: 46px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 12px;
        z-index: 2;
        @include transition;
        overflow: hidden;
        margin-bottom: 24px;

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $white;
            z-index: -1;
            content: "";
            @include transition;
            border: 1px solid $gray-300;
            border-radius: 12px;
        }
        &:hover {
            @include transition;
            &:before {
                @include gradient-color-skye;
                @include transition;
            }
            .title-wrapper {
                border-bottom: 3px solid $white;
                .title {
                    color: $white;
                }
                .icon {
                    background: linear-gradient(65deg, rgb(227, 0, 8) 0%, rgb(250, 174, 0) 100%);
                }
            }
            .content {
                .desc {
                    color: $white;
                }
            }
            .read-more {
                a {
                    color: $white;
                }
            }
        }
        .title-wrapper {
            flex-direction: row;
            border-bottom: 3px solid #1eae98;
            align-items: center;

            .icon {
                width: 97px;
                height: 97px;
                background: $primary-color;
            }
            .title {
                line-height: 36px;
            }
        }
        .content {
            margin-top: 38px;
            gap: 37px;
            .desc {
                line-height: 26px;
            }
        }
    }
}
