.info-card-slider-wrapper {
  //width: calc(100% + 60px);
  //padding: 0 30px;
  //margin-left: -30px !important;
  position: relative;



  &:before {
    left: -100%;
    margin-left: -10px;
  }
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 200%;
    background-color: $white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1
  }
  .slick-list {
    overflow: visible;

    .slick-slide {
      margin: 0 12px;
      //border-radius: 20px;
      //visibility: hidden;
      //opacity: 0;
      @include transition;

      &.slick-active {
        @include transition;
        //visibility: visible;
        //opacity: 1;
      }
    }
  }
  // Slick Nav Arrow Button
  button.info-card-arrow-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: #ffffff;
    border: 1px solid $gray-300;
    cursor: pointer;
    bottom: 0;
    overflow: hidden;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $orange-color;
      font-size: 21px;
      @include transition;
    }
    &:hover{
      @include transition;
      @include gradient-color-red;
      border-color: $orange-color;

      i{
        color: $white;
        @include transition;
      }
    }
  }
}