.info-card-wrapper {
    position: relative;
    // .divider {
    //     background-color: $black;
    //     &:before {
    //         content: "";
    //         position: absolute;
    //         background: $text-color;
    //         right: 0;
    //         height: 80%;
    //         width: 1px;
    //         top: 45px;
    //     }
    // }
}
.info-card {
    background: $white;
    padding: 40px 50px;
    border-radius: 10px;
    position: relative;
    .info-card-inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
    .divider {
        background-color: $black;
        &:before {
            content: "";
            position: absolute;
            background: $text-color;
            right: 0;
            height: 80%;
            width: 1px;
            top: 45px;
        }
    }
    .image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        top: 0;
        left: 0;
        transition: all 0.6s ease;
        img {
            width: 100%;
            height: 100%;
        }
        .overlay {
            width: 100%;
            height: 100%;
            background: $primary-color;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.6;
        }
    }
    .icon {
        display: flex;
        flex-shrink: 0;
        justify-content: start;
        width: 54px;
        height: 50px;
    }
    .content-wrapper {
        position: relative;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
    }
    .title-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: 40px;
        border-bottom: none;
        transition: all 0.6s ease;
        flex-direction: column;
        align-items: start;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 52px;
            height: 52px;
            background: transparent;
            border-radius: 10px;
        }
        .title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            margin: 0;
            color: $secondary-color;
            transition: all 0.6s ease;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 36px;
        .desc {
            transition: all 0.6s ease;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            margin: 0;
            color: $text-color;
        }
        .read-more {
            display: flex;
            justify-content: start;
            a {
                display: flex;
                align-items: center;
                gap: 18px;
                font-size: 16px;
                line-height: 36px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 0;
                color: $secondary-color;
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    background: #ff6731;
                    color: $white;
                    i {
                        color: $white;
                        font-size: 16px;
                    }
                }
                &:hover {
                    margin-left: 5px;
                }
            }
            &.style-two {
                a {
                    .icon {
                        background: linear-gradient(65deg, rgb(227, 0, 8) 0%, rgb(250, 174, 0) 100%);
                        padding: 1px;
                        i {
                            background: $white;
                            color: $primary-color;
                            border-radius: 50px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    // .content {
    //     display: flex;
    //     gap: 30px;
    //     flex-direction: column;

    //     .title {
    //         font-size: 24px;
    //         line-height: 32px;
    //         font-weight: 700;
    //         color: $secondary-color;
    //         margin: 0;
    //     }
    //     .desc {
    //         font-size: 18px;
    //         line-height: 30px;
    //         font-weight: 400;
    //         color: $text-color;
    //         margin: 0;
    //     }
    // }
}
