.info-card-wrapper {
    position: relative;
    .divider {
        background-color: $black;
        &:before {
            content: "";
            position: absolute;
            background: $text-color;
            right: 0;
            height: 80%;
            width: 1px;
            top: 45px;
        }
    }
}
.info-card {
    background: $white;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;

    .icon {
        display: flex;
        flex-shrink: 0;
        justify-content: start;
        width: 54px;
        height: 50px;
    }
    .content {
        display: flex;
        gap: 30px;
        flex-direction: column;

        .title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: $secondary-color;
            margin: 0;
        }
        .desc {
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            color: $text-color;
            margin: 0;
        }
    }
    &.style-three {
        position: relative;

        &:hover {
            .content-wrapper {
                .content-area {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.9s;

                    .content {
                        margin-top: 20px;
                    }
                }
            }
        }
        .content-wrapper {
            margin-bottom: -48px;
            padding: 0 60px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            .content-inner {
                padding: 20px 30px 20px 35px;
                background: $white;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
            }
            .title-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icon {
                    display: flex;
                    flex-shrink: 0;
                    width: 60px;
                    height: 60px;
                }
                .title {
                    font-size: 30px;
                    line-height: 42px;
                    font-weight: 700;
                    margin: 0;
                }
            }
            .content-area {
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                transition: 0.9s;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: -200px;
                .desc {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
    }
    &.style-four {
    }
}
