/*!
MeanMenu 2.0.8 -------- To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/) 
*/
a.meanmenu-reveal{
    display:none
}
.mobile-nav-menu.mean-container {
	width: 100%;
    padding: 0;
}
.mean-container .mean-bar {
	width: 100%;
	position: relative;
	z-index: 999999;
}
.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
    padding: 13px 13px 11px;
    border-radius: 4px;
	position: absolute;
	right: 0;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	font-size: 1px;
	display: block;
	font-weight: 700;
	margin-right: 15px;
	margin-top: -77px;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: $primary-color;
	height: 2px;
	margin-top: 5px;
}
.mean-container .mean-nav{
    float:left;
    width:100%;
    background:#fff;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
}
.mean-container .mean-nav ul{
    padding:0;
    margin:0;
    width:100%;
    list-style-type:none
}
.mean-container .mean-nav ul li{
    position:relative;
    float:left;
    width:100%
}
.mean-container .mean-nav ul li a{
    display:block;
    float:left;
    padding: 10px 30px;
    margin:0;
    text-align:left;
    color:$text-color;
    border-top: 1px solid $gray;
    text-decoration:none;
    text-transform:capitalize;
    width: 100%;
}
.mean-container .mean-nav ul li a i{
    display: none;
}
.mean-container .mean-nav ul li li a{
    width:80%;
    padding: 10px 60px;
    border-top:1px solid $gray;
    text-shadow:none!important;
    visibility:visible
}
.mean-container .mean-nav ul li.mean-last a{
    border-bottom:0;
    margin-bottom:0
}
.mean-container .mean-nav ul li li li a{
    width:70%;
    padding-left: 15%
}
.mean-container .mean-nav ul li li li li a{
    width:60%;
  padding-left: 20%
}
.mean-container .mean-nav ul li li li li li a{
    width:50%;
  padding-left: 25%
}
.mean-container .mean-nav ul li a:hover{
    background:#2c2e3d;
    background:rgba(255,255,255,.1)
}
.mean-container .mean-nav ul li a.mean-expand{
  width: 48px;
  height: 48px;
  padding: 0 !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $gray;
}
.mean-container .mean-nav ul li a.mean-expand:hover{
    background:$primary-color;
    color:#fff;
}
.mean-container .mean-push{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    clear:both
}
.mean-nav .wrapper{
    width:100%;
    padding:0;
    margin:0
}
.mean-container .mean-bar,.mean-container .mean-bar *{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
.mean-remove{
    display:none!important
}
 