.nav-tab {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    gap: 48px;
    border-bottom: 1px solid $secondary-color;
    .tab-item {
        .item-link {
            color: $secondary-color;
        }
        .active {
            &:before {
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: -9px;
                background: blue;
            }
        }
    }
}
