.basic-pagination,
.page-links{
  display: inline-flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  ul {
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;

    .prev,
    .next
    {
      span {
        display: none;
      }
    }
  }
  .post-page-numbers {
    background-color: rgba(71, 112, 247, 0.1) !important;
  }
  .page-numbers,
  .post-page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    background-color: $white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    @include transition;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      background: $primary-color !important;
      color: $white;
      @include transition;
    }

    &.current {
      background: $primary-color !important;
      color: $white;
      @include transition;
    }

  }
}