.post-card {
    &.style-three {
        height: 468px;
        justify-content: end;
        align-items: end;
        &:before {
            background-color: $secondary-color;
            opacity: 0.3;
        }
        .content {
            .sub-title {
                color: $white;
                display: inline-flex;
                gap: 17px;
                align-items: center;
                font-size: 16px;
                line-height: 30px;
                .date {
                    color: $white;
                    margin: 0;
                    &:before {
                        background-color: #b8bfcc;
                        width: 1px;
                        display: inline-flex;
                        height: 12px;
                        content: "";
                        margin-right: 17px;
                    }
                }
            }
            .title {
                color: $white;
                font-size: 30px;
                line-height: 42px;
                font-weight: 700;
            }
        }
    }
}
