.post-card {
    &.style-two {
        padding: 0;
        border: none;
        border-radius: 12px;
        gap: 30px;
        flex-direction: row;
        align-items: center;
        .image {
            flex-shrink: 0;
        }
        .content {
            gap: 12px;
            .sub-title {
                .date {
                    color: $black-300;
                }
            }
            .title {
                font-size: 24px;
                line-height: 33px;
                font-weight: 700;
            }
        }
    }
}
