.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 35px 25px 35px;
  border: 1px solid #778196;
  border-radius: 12px;
  gap: 60px;
  margin-bottom: 25px;
  .overlay {
    width: 100%;
    height: 100%;
    background: $secondary-color;
    opacity: 24%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .post-meta {
      color: $orange-color;
      font-size: 16px;
      line-height: 28px;
      font-weight: 700;
      margin: 0;
      display: inline-flex;
      gap: 17px;
      align-items: center;
      span {
        margin: 0;
        &:before {
          background-color: #b8bfcc;
          width: 1px;
          display: inline-flex;
          height: 12px;
          content: "";
          margin-right: 17px;
        }
        &:last-child {
          display: none;
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }
    .title {
      font-size: 21px;
      line-height: 30px;
      font-weight: 700;
      margin: 0;
      color: $secondary-color;
    }
  }
  .date {
    margin-bottom: 0;
  }
  .date-bottom {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 0;
    color: #778196;
  }
}
