.post-card {
    &.style-three {
        height: 468px;
        justify-content: end;
        align-items: end;
        position: relative;
        overflow: hidden;
        &:before {
            background-color: $secondary-color;
            opacity: 0.3;
        }
        &:hover {
            .image {
                transform: scale(1.05);
            }
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            @include transition;
        }
        .content {
            .post-meta {
                color: $white;
                display: inline-flex;
                gap: 17px;
                align-items: center;
                font-size: 16px;
                line-height: 30px;
                span {
                    color: $white;
                    margin: 0;
                    font-weight: 400;
                    &:before {
                        background-color: #b8bfcc;
                        width: 1px;
                        display: inline-flex;
                        height: 12px;
                        content: "";
                        margin-right: 17px;
                    }
                    &:last-child {
                        display: block;
                    }
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            .title {
                color: $white;
                font-size: 30px;
                line-height: 42px;
                font-weight: 700;
                &:hover {
                    color: $orange-color;
                }
            }
        }
    }
}
