.post-card {
    &.style-four {
        flex-direction: column;
        border: none;
        padding: 0;
        gap: 28px;
        &:hover {
            .image {
                img {
                    transform: scale(1.05);
                }
            }
        }
        .image {
            img {
                width: 100%;
                height: 100%;
                @include transition;
            }
        }
        .content {
            .title {
                &:hover {
                    color: $primary-color;
                }
            }
            .post-meta {
                span {
                    color: $orange-color;
                    line-height: 30px;
                    font-weight: 700;
                    &:last-child {
                        display: block;
                    }
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                }
                .date {
                    color: $black-300;
                    font-weight: 400;
                }
            }
        }
    }
}
