.blog-area {
  ol,
  ul{
    padding-left: 20px;
    
    li {
      padding-top: 7px;
    }
  }
}
.blog-details-wrapper {
  .single-post-item {
    .post-content-wrapper {
      padding-bottom: 10px;
    }
    .post-content {
      margin-bottom: 20px;

      p {
        margin-bottom: 15px;

        img {
          margin: 15px 0;
          border-radius: 14px;
        }
      }
    }
  }
  .wp-block-calendar {
    margin-bottom: 30px;
  }
}
.single-post-item {
  background-color: $white;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 50px;

  .post-content-wrapper {
    padding: 30px;

    .read-more {
      margin-top: 30px;
    }
  }
  /* Quote Format Post */
  &.format-quote {
    .post-content {
      margin: 0;
    }
    blockquote {
      margin: 0;

      cite {
        a {
          font-family: $body-font;
          font-size: 16px;
          font-weight: 600;
          text-transform: capitalize;
          color: $text-color;
          margin-top: 20px;
          font-style: normal;
          @include transition;

          &:hover {
            @include transition;
            color: $primary-color;
          }
        }
      }
    }
  }
  /* Sticky Post */
  &.sticky {
    border: 2px solid $primary-color;

    .post-content {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }

  .post-title {
    font-size: 40px;
    line-height: 54px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;

    &:hover {
      a {
        color: $primary-color;
        @include transition;
      }
    }
  }
  .post-content {
    h2,
    h3,
    h4,
    h5,
    h6{
      margin-bottom: 10px;
    }

    p {
      margin-bottom: unset;
    }

  }

  .single-post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray;
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 20px;

  }
  // Social Share
  .social-share {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  // Post Tags
  .blog-post-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
    width: 100%;

      span {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        font-family: $heading-font;
        color: $black;
        margin-bottom: 0;
        width: 100%;
      }
    a {
      background: $gray-100;
      color: $text-color;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      padding: 13px 16px;
      border-radius: 8px;
      @include transition;

      &:hover {
        color: $white;
        background: $primary-color;
        @include transition;
      }
    }
  }
  // Post Image
  .post-thumbnail {
    position: relative;

    .popup-video-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-btn {
      a {
        width: 70px;
        height: 70px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        background-color: #FFFFFF;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary-color;
          font-size: 18px;
        }
        &:hover {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      }

    }

  }
  // Post Gallery Slick Button
  button.post-gallery-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: #ffffff;
    cursor: pointer;
    top: 50%;
    transform:translateY(-50%);
    overflow: hidden;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 17px;
      @include transition;
    }
    &:hover{
      @include transition;
      background-color: $primary-color;

      i{
        color: $white;
        @include transition;
      }
    }
  }

  // Post Audio
  .post-audio {
    iframe {
      width: 100%;
    }
  }
    // Post Meta
  .post-meta {
      display: flex;
      align-items: center;
      gap: 32px;
      margin-bottom: 10px;

      span {
        font-size: 14px;
        font-weight: 500;
        color: $text-color;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          color: $primary-color;
          font-size: 19px;
        }
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $text-color;
          @include transition;

          &:hover {
            color: $primary-color;
            @include transition;
          }
        }
      }
  }

}

// Author
.author {
  background-color: $white;
  padding: 30px;
  display: flex;
  gap: 30px;
  border-radius: 14px;

  .author-img {
    flex-shrink: 0;

    img {
      border-radius: 10px;
    }
  }
  .author-text {
    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 28px;
    }
     p {
      margin-bottom: 0;
    }
  }
  .author-icon {
    margin-top: 20px;
    display: flex;
    gap: 10px;

     a {
      font-size: 18px;
      color: $white;
       @include transition;
       width: 44px;
       height: 44px;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: $primary-color;
      border-radius: 10px;
       &:hover {
         @include transition;
         background-color: $white;
         color: $primary-color;
       }
    }
  }
}


// Next Prev Post
.blog-details-border {
  margin-top: 40px;
  background: #fff;
  padding: 40px;
  padding-bottom: 22px;
  border-radius: 14px;
}
.bakix-navigation span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: #ff5b5b;
}
.bakix-navigation span a:hover {
  color: #FE4536;
}
.bakix-navigation h4 {
  font-size: 21px;
  margin: 0;
  text-transform: capitalize;
}

.bakix-navigation h4 a:hover {
  color: #FE4536;
}