.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 35px 30px 35px;
  border: 1px solid #778196;
  border-radius: 12px;
  gap: 60px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sub-title {
      color: $orange-color;
      font-size: 16px;
      line-height: 28px;
      font-weight: 700;
      margin: 0;
    }
    .title {
      font-size: 21px;
      line-height: 30px;
      font-weight: 700;
      margin: 0;
      color: $secondary-color;
    }
  }
  .date {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    color: #778196;
  }
}
