.price-card {
    padding: 30px;
    background: white;
    z-index: 2;
    position: relative;
    border-radius: 14px;
    .card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        flex-direction: column;
        .sub-title {
            font-family: $body-font;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 36px;
            text-transform: uppercase;
            color: $orange-color;
            margin: 0;
        }
        .title {
            font-weight: 700;
            font-size: 36px;
            line-height: 30px;
            color: $secondary-color;
        }
    }
    .price {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: #1eae98;
        border-radius: 7px;
        padding-top: 28px;
        padding-bottom: 28px;
        gap: 10px;
        .price-heading {
            font-family: $heading-font;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 42px;
            color: $white;
            display: flex;
            align-items: center;
            gap: 2px;
            margin-bottom: 0;
            .currency {
                font-family: $heading-font;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                color: $white;
                text-align: start;
                align-self: flex-start;
            }
            .under-dot {
                font-family: $body-font;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                text-transform: capitalize;
                color: $white;
                align-self: end;
            }
        }
        .price-desc {
            font-family: $body-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            text-transform: capitalize;
            color: $white;
            margin-bottom: 0;
        }
    }
    .list-wrapper {
        display: flex;
        // align-items: center;
        justify-content: center;
    }
    .list {
        margin-top: 0;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        .list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            .fa-check {
                color: $orange-color;
            }
            .fa-x {
                color: #bbc7cf;
            }
            .text {
                font-family: $body-font;
                font-weight: 400;
                font-size: 18px;
                line-height: 36px;
                color: $secondary-color;
                margin: 0;
            }
        }
    }
    .card-btn {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}
