.process-step {
    &.style-two {
        display: flex;
        flex-direction: column;
        justify-content: start;
        background: transparent;
        gap: 37px;
        padding: 0;
        .icon {
            width: 85px;
            height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $white;
            border-radius: 50px;
            position: relative;
            .count {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 12px;
                left: 12px;
                transform: translate(-50%, -50%);
                background: $sky-color;
                width: 30px;
                height: 30px;
                border-radius: 50px;
                color: $white;
                span {
                    font-size: 16px;
                    line-height: 36px;
                    font-weight: 700;
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title {
                margin: 0;
                font-size: 24px;
                line-height: 36px;
                font-weight: 700;
                color: $white;
            }
            .desc {
                margin: 0;
                font-size: 18px;
                line-height: 30px;
                font-weight: 400;
                color: $white-100;
            }
        }
    }
}
