.Service-details-wrapper {
    padding: 140px 0;
    .details-main {
        .list-item {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    display: inline-flex;
                    gap: 15px;
                    i {
                        line-height: 30px;
                        color: $sky-color;
                    }
                }
            }
        }
        .title {
            font-size: 30px;
            line-height: 60px;
            font-weight: 700;
            color: $secondary-color;
        }
        .details-img-wrapper {
            img {
                border-radius: 12px;
            }
            .text {
                margin-top: 60px;
            }
        }
        .benefits-image {
            img {
                border-radius: 8px;
            }
        }
        .service-accordion-title {
            font-family: $heading-font;
            font-size: 21px;
            line-height: 60px;
            font-weight: 700;
            color: $secondary-color;
        }
    }
    .accordion-item {
        &.open {
            .accordion-head {
                .icon {
                    background: $orange-color;
                }
            }
        }
        .accordion-head {
            .accordion-title {
                font-size: 21px;
                line-height: 60px;
                font-weight: 700;
                color: $secondary-color;
            }
            .icon {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                background: $sky-color;
                &:before {
                    height: 14px;
                    width: 2px;
                }
                &:after {
                    height: 2px;
                    width: 14px;
                }
            }
        }
        .accordion-body {
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            color: $text-color;
        }
    }
    @include sm {
        padding: 65px 0;
    }
}
