.service-bg {
  display: none;
  @media screen and (min-width: "1200px") {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    display: block;
  }
}
.section-title {
  margin-top: 0;
  .style-two {
    @media screen and (min-width: "1200px") {
      margin-top: 148px;
    }
  }
}
.card-wrapper {
  margin-top: 25px;
}
