.slider-area {
  &.style-three {
    position: relative;
    .single-slider {
      .slider-overlay {
        background: rgb(0,91,172);
        background: linear-gradient(135deg, rgba(30,174,152,0.66) 0%, rgba(0,91,172,0.66) 100%);
      }
      .slider-content-wrapper {
        gap: 100px;

        .slider-content {
          width: 100%;
          text-align: center;
        }
      }
    }
    .slider-wrapper {
      // Slick Dots
      .slick-dots {
        display: none !important;
      }
    }

  }
}