.slider-area {
  .slider-wrapper {
    height: 920px;
  }
  .single-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 920px;
    position: relative;
    z-index: 2;

    .slider-overlay {
      @include gradient-color-skye;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

      .slider-content-wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        .slider-content {
          .slider-short-title {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 24px;
            color: $white;
          }
          .slider-title {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 90px;
            color: $white;
            line-height: 102px;
            margin-bottom: 26px;
          }
          .slider-short-desc {
            font-size: 24px;
            color: $white;
            line-height: 36px;
          }
          .slider-btn-wrapper {
            margin-top: 60px;
          }
        }
        .slider-image {

        }
      }
  }
}