.slider-area {
  &.style-two {
    position: relative;

    .social-share {
      @include rmaxwd(991) {
        display: none;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-bottom: 290px solid $primary-color;
      border-left: 117px solid transparent;
      z-index: 1;
    }
    .slider-wrapper {
      .slider-content-wrapper {
        gap: 100px;
        position: relative;

        @include rmaxwd(767) {
          margin-top: 100px;
        }
        @include rmaxwd(991) {
          flex-direction: column;
          gap: 50px;
          padding-top: 100px;
        }

        .slider-content {
          @include rmaxwd(991) {
            width: 100%;
          }
        }
        .slider-image {
          position: relative;
          z-index: 2;
          width: 58%;
          align-self: end;
          animation: MoveLeftRight 2s linear infinite alternate;

          @include rmaxwd(991) {
           width: 100%;
          }
          &:before {
            position: absolute;
            content: "";
            width: 520px;
            height: 2000px;
            background-color: $orange-color;
            border-radius: 0;
            top: -1000px;
            right: 0;
            transform: skewX(-20deg);
            z-index: -1;
            right: -125px;
          }
        }

        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: $sky-color;
          top: 0;
          left: -100%;
          margin-left: -232px;
          transform: skewX(-20deg);
        }
        &:after {
          position: absolute;
          content: "";
          width: 215px;
          height: 130px;
          background: $sky-color;
          bottom: 0;
          left: -190px;
          transform: skewX(-20deg);
        }
      }
    }

  }
}