.slider-area {
  overflow: hidden;
  position: relative;

  .social-share {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    z-index: 99;

    @include sm {
      display: none;
    }

    @include rmaxwd(1299) {
      top: unset;
      left: 50%;
      transform: translateY(0);
      transform: translateX(-50%);
      bottom: 100px;
      flex-direction: row;
    }

    a {
      font-size: 24px;
      color: $white;
      transform: rotate(-90deg);
      @include rmaxwd(1299) {
        transform: unset;
      }
    }
  }

  .slider-wrapper {
    height: 920px;


    // Active Slider Animate
    .slick-active {

      .single-slider {
        background-color: rebeccapurple;
        background-image: none !important;
        .slider-short-title {
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
        }
        .slider-title {
          -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
          -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
        }
        .slider-short-desc {
          -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
          -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
        }
        .slider-btn-wrapper {
          -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
          -webkit-animation-duration: 0.12s;
          animation-duration: 0.12s;
        }
      }
    }
    // Slick Dots
    .slick-dots {
      display: flex;
      gap: 20px;
      flex-direction: column;
      position: absolute;
      top: 50%;
      right: 60px;
      transform: translateY(-50%);
      z-index: 2;
      flex-direction: column;

      @include sm {
        display: none !important;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 30px;
        bottom: 70px;
        top: unset;
        left: unset;
        right: unset;
        transform: none;
      }

      li {
        display: inline-block;
        line-height: 0;
        outline: 2px solid transparent;
        border: 4px solid transparent;
        border-radius: 50px;
        @include transition;

        button {
          font-size: 0;
          padding: 0;
          width: 17px;
          height: 17px;
          background-color: #c3e4de;
          border-radius: 50px;
          position: relative;
          @include transition;
        }
        &.slick-active {
          @include transition;
          outline: 2px solid $orange-color;

          button {
            @include transition;
          }
        }
      }
    }
  }
  // Slick Nav Arrow Button
  button.slider-arrow-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: transparent;
    border: 1px solid $gray-300;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    display: none !important;

    @include rmaxwd(767) {
      width: 40px;
      height: 40px;
    }
    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $orange-color;
      font-size: 21px;
      @include transition;
    }
    &:hover{
      @include transition;
      @include gradient-color-red;
      border-color: $orange-color;

      i{
        color: $white;
        @include transition;
      }
    }
  }
  .single-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 920px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    .slider-overlay {
      @include gradient-color-skye;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

      .slider-content-wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        @include sm {
          flex-direction: column-reverse;
          justify-content: center;
          gap: 60px;
        }
        .slider-content {
          width: 50%;
          z-index: 99;

          @include sm {
            width: 100%;
          }
          .slider-short-title {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 24px;
            color: $white;

            @include lg {
              font-size: 18px;
            }
          }
          .slider-title {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 90px;
            color: $white;
            line-height: 102px;
            margin-bottom: 30px;

            @include lg {
              font-size: 48px;
              line-height: 56px;
            }
            @include md {
              font-size: 48px;
              line-height: 56px;
            }
            @include sm {
              font-size: 48px;
              line-height: 56px;
            }
          }
          .slider-short-desc {
            font-size: 24px;
            color: $white;
            line-height: 36px;

            @include lg {
              font-size: 18px;
              line-height: 32px;
            }
            @include md {
              font-size: 18px;
              line-height: 32px;
            }
            @include sm {
              font-size: 18px;
              line-height: 32px;
            }
          }
          .slider-btn-wrapper {
            margin-top: 60px;

            @include sm {
              margin-top: 40px;
            }
          }
        }
        .slider-image {
          position: relative;
          z-index: 2;
          width: 50%;
          animation: MoveUpDown 2s linear infinite alternate;

          @include sm {
            width: 100%;
          }
        }
      }
  }
}