.slider-area {
  overflow: hidden;
  position: relative;

  .social-share {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    z-index: 99;

    a {
      font-size: 24px;
      color: $white;
      transform: rotate(-90deg);
    }
  }

  .slider-wrapper {
    height: 920px;

    // Slick Dots
    .slick-dots {
      display: flex;
      gap: 20px;
      flex-direction: column;
      position: absolute;
      top: 50%;
      right: 60px;
      transform: translateY(-50%);
      z-index: 2;
      flex-direction: column;


      li {
        display: inline-block;
        line-height: 0;

        button {
          font-size: 0;
          padding: 0;
          width: 25px;
          height: 25px;
          background-color: transparent;
          border-radius: 100%;
          position: relative;

          &:after {
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: #c1e2dd;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
          }
        }
        &.slick-active {
          button {

            &:before {
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 100%;
              border: 2px solid $orange-color;
              top: 0;
              left: 0;
              content: "";
            }
          }
        }
      }
    }
  }
  // Slick Nav Arrow Button
  button.slider-arrow-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: transparent;
    border: 1px solid $gray-300;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $orange-color;
      font-size: 21px;
      @include transition;
    }
    &:hover{
      @include transition;
      @include gradient-color-red;
      border-color: $orange-color;

      i{
        color: $white;
        @include transition;
      }
    }
  }
  .single-slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 920px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    .slider-overlay {
      @include gradient-color-skye;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

      .slider-content-wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        .slider-content {
          width: 50%;

          .slider-short-title {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 24px;
            color: $white;
          }
          .slider-title {
            font-family: $heading-font;
            font-weight: 700;
            font-size: 90px;
            color: $white;
            line-height: 102px;
            margin-bottom: 30px;
          }
          .slider-short-desc {
            font-size: 24px;
            color: $white;
            line-height: 36px;
          }
          .slider-btn-wrapper {
            margin-top: 60px;
          }
        }
        .slider-image {
          position: relative;
          z-index: 2;
          width: 50%;

          &:before {
            position: absolute;
            content: "";
            width: 640px;
            height: 640px;
            background-color: $orange-color;
            border-radius: 500px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            right: -125px;
          }
        }
      }
  }
}