.slider-area {
  &.style-two {
    position: relative;


    //&:after {
    //  content: "";
    //  position: absolute;
    //  left: -428px;
    //  top: 0;
    //  z-index: 1;
    //  background-color: $sky-color;
    //  width: 500px;
    //  height: 100%;
    //  transform: skew(-20deg);
    //}
    //&:before {
    //  content: "";
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //  border-bottom: 290px solid $sky-color;
    //  border-left: 117px solid transparent;
    //  z-index: 1;
    //}
    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-bottom: 290px solid $primary-color;
      border-left: 117px solid transparent;
      z-index: 1;
    }
    .slider-wrapper {
      .slider-content-wrapper {
        gap: 100px;
        position: relative;

        .slider-image {
          position: relative;
          z-index: 2;
          width: 58%;
          align-self: end;

          &:before {
            position: absolute;
            content: "";
            width: 520px;
            height: 2000px;
            background-color: $orange-color;
            border-radius: 0;
            top: -1000px;
            right: 0;
            transform: skewX(-20deg);
            z-index: -1;
            right: -125px;
          }
        }

        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: $sky-color;
          top: 0;
          left: -100%;
          margin-left: -232px;
          transform: skewX(-20deg);
        }
        &:after {
          position: absolute;
          content: "";
          width: 215px;
          height: 130px;
          background: $sky-color;
          bottom: 0;
          left: -190px;
          transform: skewX(-20deg);
        }
      }
    }

  }
}