.slider-area {
  &.style-two {
    position: relative;


    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-bottom: 290px solid $primary-color;
      border-left: 117px solid transparent;
      z-index: 1;
    }
    .slider-wrapper {
      .slider-content-wrapper {
        gap: 100px;

        .slider-image {
          position: relative;
          z-index: 2;
          width: 58%;

          &:before {
            position: absolute;
            content: "";
            width: 520px;
            height: 1500px;
            background-color: $orange-color;
            border-radius: 0;
            top: -500px;
            right: 0;
            transform: skewX(-20deg);
            z-index: -1;
            right: -125px;
          }
        }
      }
    }

  }
}