.testimonial-slider-wrapper {
  position: relative;
  &:before {
    left: -200%;
    margin-left: -15px;
  }
  &:after {
    right: -200%;
    margin-right: -15px;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 200%;
    height: 200%;
    background-color: $white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1
  }
  .slick-list {
    overflow: visible;

    .slick-slide {
      margin: 0 12px;
      border-radius: 20px;
      visibility: hidden;
      opacity: 0;
      @include transition;

      &.slick-active {
        @include transition;
        box-shadow: 1px 8px 44px rgba(20, 20, 43, 0.03);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  // Slick Dots
  .slick-dots {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: -65px;
    transform: translateY(-50%);
    z-index: 2;


    li {
      display: inline-block;
      line-height: 0;

      button {
        font-size: 0;
        padding: 0;
        width: 25px;
        height: 25px;
        background-color: $white;
        border-radius: 100%;
        position: relative;

        &:after {
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background-color: #b2bacb;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: "";
        }
      }
      &.slick-active {
        button {

          &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 2px solid $orange-color;
            top: 0;
            left: 0;
            content: "";
          }
        }
      }
    }
  }
  // Slick Nav Arrow Button
  button.testimonial-arrow-btn {
    //position: absolute;
    display: none !important;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
  }
}

// Slick Nav Arrow Button
button.testimonial-arrow-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 99;
  background-color: #ffffff;
  border: 1px solid $gray-300;
  cursor: pointer;
  bottom: 0;
  overflow: hidden;

  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $orange-color;
    font-size: 21px;
    @include transition;
  }
  &:hover{
    @include transition;
    @include gradient-color-red;
    border-color: $orange-color;

    i{
      color: $white;
      @include transition;
    }
  }
}

.testimonial-slider-arrow {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 50px;
}

// Testimonial Slider Control Three
.testimonial-slider-wrapper {
  &.style-three {
    &:before,
    &:after {
      display: none;
    }

    .slick-list {

      .slick-slide {
        border-radius: 0;

        &.slick-active {
          box-shadow: none;
        }
      }
    }
    // Slick Dots
    .slick-dots {
      margin-top: 20px;
      position: unset;
      padding-left: 0;
      flex-direction: row;
      justify-content: center;
    }
  }
}