.testimonial-card {
    &.style-two {
        padding: 58px;

        .icon {
            align-self: self-start;
        }
        .content-wrapper {
            .content {
                .text {
                    line-height: 30px;
                }
            }
            .meta-user {
                .icon {
                    display: none;
                }
            }
        }
    }
}
