.testimonial-card {
    &.style-three {
        flex-direction: row;
        .icon {
            align-self: flex-start;
            flex-shrink: 0;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 45px;
            .content {
                margin-top: 18px;
            }
            .meta-user {
                .icon {
                    display: none;
                }
            }
        }
    }
}
