.time-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: #f3f7fc;

    .time-card-item {
        width: 100%;
        padding: 30px 96px;
        display: flex;
        flex-direction: row;
        align-items: start;
        position: relative;
        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }
        &::after {
            content: "";
            width: 3px;
            height: 100%;
            right: 0;
            left: 50%;
            top: 0;
            position: absolute;
            background: #dde4f6;
        }
        .time-card-desc {
            width: 424px;
            height: 250px;
            background: $white;
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            .title {
                padding: 8px 0;
                background: $orange-color;
                display: flex;
                justify-content: center;
                h2 {
                    margin: 0;
                    font-family: $heading-font;
                    font-size: 21px;
                    line-height: 60px;
                    font-weight: 700;
                    color: $white;
                }
            }
            .desc {
                padding: 40px;
                p {
                    margin: 0;
                    font-family: $body-font;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    color: $text-color;
                }
            }
        }
        .circle-wrapper {
            padding: 30px 117px;
            position: relative;
            overflow: hidden;
            .time-card-circle {
                min-width: 18px;
                min-height: 18px;
                border-radius: 50px;
                background: $orange-color;
                flex-shrink: 0;
                position: relative;
                z-index: 3;
            }
            &:after {
                content: "";
                width: 100%;
                height: 3px;
                right: 0;
                left: 0;
                top: 49%;
                position: absolute;
                background: #dde4f6;
            }
        }
        .time-card-time {
            min-width: 174px;
            min-height: 50px;
            border-radius: 24px;
            background: $sky-color;
            flex-shrink: 0;
            overflow: hidden;
            z-index: 2;
            margin-top: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                margin: 0;
                color: $white;
                font-size: 18px;
                line-height: 30px;
                font-weight: 700;
                color: $white;
            }
        }
    }
}
