.section-title {
  display: flex;
  gap: 10px;
  flex-direction: column;
  z-index: 2;
  position: relative;

  .short-title {
    font-size: 24px;
    font-weight: 700;
    font-family: $heading-font;
    color: $orange-color;
  }
  .title {
    font-size: 48px;
    font-weight: 700;
    font-family: $heading-font;
    color: $secondary-color;

    span {
      color: $sky-color;
    }
  }
  .divider {
    width: 72px;
    height: 6px;
    background-color: $primary-color;
  }
}
