.section-title {
  display: flex;
  gap: 10px;
  flex-direction: column;
  z-index: 2;
  position: relative;

  .short-title {
    font-size: 24px;
    font-weight: 700;
    font-family: $heading-font;
    color: $orange-color;
  }
  .title {
    font-size: 48px;
    font-weight: 700;
    font-family: $heading-font;
    color: $secondary-color;
    margin-bottom: 0;
    @include md {
      font-size: 38px;
      line-height: 48px;
    }
    @include sm {
      font-size: 32px;
      line-height: 42px;
    }

    span {
      color: $sky-color;
    }
  }
  .desc {
    font-size: 18px;
    font-weight: 400;
    font-family: $body-font;
    color: $text-color;
    margin-bottom: 0;
    margin-top: 28px;
  }
  .text {
    margin-bottom: 0;
  }
  .divider {
    width: 72px;
    height: 6px;
    background-color: $primary-color;
  }
}
