.team-member-slider-wrapper {
  position: relative;

  .slick-list {
    padding-bottom: 88px;
    margin: 0 -55px;

    @include sm {
      margin: unset;
    }
    @include sm {
      padding-bottom: 60px;
    }
    .slick-slide {
      margin: 0 55px;


      @include rmaxwd(1199) {
        margin: 0 14px;
      }
    }
  }
  // Slick Dots
  .slick-dots {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;

    li {
      display: inline-block;
      line-height: 0;
      outline: 1px solid transparent;
      border: 4px solid transparent;
      border-radius: 50px;
      @include transition;

      button {
        font-size: 0;
        padding: 0;
        width: 11px;
        height: 11px;
        background-color: #b2bacb;
        border-radius: 50px;
        position: relative;
        @include transition;
      }
      &.slick-active {
        @include transition;
        outline: 1px solid $orange-color;

        button {
          @include transition;
        }
      }
    }
  }
}