.team-member-card {
  position: relative;
  .image {
    border-radius: 12px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 36px;
    width: 100%;
    bottom: -36px;
    .content {
      width: 100%;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $primary-color;
      z-index: 1;
      gap: 5px;

      .title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: $white;
        font-family: $heading-font;
        margin: 0;
      }
      .desc {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: $white-100;
        font-family: $heading-font;
        margin: 0;
      }
    }
    .social {
      background: $orange-color;
      padding: 22px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 94%;
      margin-top: -68px;
      z-index: -1;
      transition: all 0.5s ease-out;
      i {
        color: $white;
      }
    }
  }
  &:hover {
    .content-wrapper {
      .content {
        z-index: 1;
      }
      .social {
        margin-top: 0;
        z-index: 0;
      }
    }
  }
  @include sm {
    margin-bottom: 50px;
  }
  @include md {
    margin-bottom: 50px;
  }
}
